{% extends 'base/base_list.html' %}
{% load static %}
{% block title %} Lista Empleados {% endblock %}

{% block page_title %} Antecedentes de {{ paciente }} {% endblock %}
{% block small_message %} Lista de Antecedentes {% endblock %}
{% block add_link %} {% url 'docapp:register_employ_antecedent' person_id=paciente.id %} {% endblock %}
{% block add_link_label %} Antecedente {% endblock %}

{% block datatable_body %}
    <thead>
    <tr>
        <th>Compañia</th>
        <th>Opciones</th>
    </tr>
    </thead>
    <tbody>
    {% for antecedent in paciente.antecedentes.all %}
        <tr>
            <td>{{ antecedent.nombre_empresa }}</td>
            <td>
                <!-- Detail Link -->
                <button class="btn btn-primary btn-xs btn_modal" data-moda-title="Antecedente Empleado"
                        href="{% url 'docapp:detail_employ_antecedent' antecedent_id=antecedent.id %}">
                    Ver <i class="fa fa-eye" aria-hidden="true"></i>
                </button>
                <!-- Update Link -->
                <a href="{% url 'docapp:update_employ_antecedent' antecedent_id=antecedent.id %}">
                    <button class="btn btn-warning btn-xs">
                        <i class="fa fa-edit" aria-hidden="true"></i> Editar
                    </button>
                </a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
{% endblock %}
{% block extra_content %}
    {% include 'base/base_modal.html' %}
{% endblock %}
{% block extra_scripts %}
    <script>
        $('.btn_modal').on('click', function (event) {
            event.preventDefault();
            event.stopPropagation();
            load_modal(this.dataset.modalTitle, "success", this.getAttribute('href'));
        });
    </script>
{% endblock %}
