{% extends 'base/base_list.html' %}
{% load static %}
{% block title %} Lista Empleados {% endblock %}

{% block page_title %}Empresas {% endblock %}
{% block small_message %} Lista de Empresas {% endblock %}
{% block add_link %} {% url 'docapp:register_company' %} {% endblock %}
{% block add_link_label %} Empresa {% endblock %}


{% block datatable_body %}
    <thead>
    <tr>
        <th>Nombre</th>
        <th>Empleados</th>
        <th>Opciones</th>
    </tr>
    </thead>
    <tbody>
    {% for company in company_list %}
        <tr>
            <td>{{ company }}</td>
            <td>
                <!-- Register Link -->
                <a href="{% url 'docapp:register_employ_from_company' company_id=company.id %}">
                    <button class="btn btn-warning btn-xs" data-toggle="tooltip"
                            data-placement="left" title="" data-original-title="Registrar">
                        <i class="fa fa-pencil" aria-hidden="true"></i>
                    </button>
                </a>
                <!-- List Link -->
                <a href="{% url 'docapp:list_employ_company' company_id=company.id %}">
                    <button class="btn btn-primary btn-xs" data-toggle="tooltip"
                            data-placement="left" title="" data-original-title="Ver lista">
                        <i class="fa fa-list-alt" aria-hidden="true"></i>
                    </button>
                </a>
            </td>
            <td>
                <!-- Detail Link -->
                <a href="{% url 'docapp:detail_company' company_id=company.id %}">
                    <button class="btn btn-primary btn-xs" data-toggle="tooltip"
                            data-placement="left" title="" data-original-title="Ver">
                        <i class="fa fa-eye" aria-hidden="true"></i>
                    </button>
                </a>
                <!-- Update Link -->
                <a href="{% url 'docapp:update_company' company_id=company.id %}">
                    <button class="btn btn-warning btn-xs" data-toggle="tooltip"
                            data-placement="left" title="" data-original-title="Editar">
                        <i class="fa fa-edit" aria-hidden="true"></i>
                    </button>
                </a>
            </td>
        </tr>
    {% empty %}
        <h2>No se han registrado companies</h2>
    {% endfor %}
    </tbody>
{% endblock %}

