{% extends 'base/base_list.html' %}
{% load static %}
{% block title %} Procesos | Consultas {% endblock %}

{% block page_title %}Lista de Consultas {% endblock %}
{% block small_message %} Lista de consultas en proceso {% endblock %}
{% block add_btn %} {% endblock %}


{% block datatable_body %}
    {% include 'docapp/details/alert_secure.html' %}

    <thead>
    <tr>
        <th>ID</th>
        <th>Paciente</th>
        <th>Activado por </th>
        <th>Fecha de Creación</th>
        <th>Estado</th>
        <th>Acciones</th>
    </tr>
    </thead>
    <tbody>
    {% for exam in consults_list %}
        <tr>
            <td>{{ exam.id }}</td>
            <td> {{ exam.paciente_id }}
                <br>
                {% if request.user.doctor_profile %}
                    <button class="btn btn-primary btn-xs btn_modal" data-toggle="tooltip"
                            data-placement="left"
                            data-modal-title="Detalle Empleado"
                            data-original-title="Ver"
                            href="{% url 'docapp:detail_patient' pk=exam.paciente_id_id %}">
                        <i class="fa fa-eye" aria-hidden="true"></i>
                    </button>

                {% endif %}
            </td>
            <td> {{ exam.activated_by.user_id }}
                <br>
                {% if request.user.is_superuser %}
                    <button class="btn btn-primary btn-xs btn_modal" data-toggle="tooltip"
                            data-placement="left" data-modal-title="Detalle Usuario" data-original-title="Ver"
                            href="{% url 'accounts:detail_patient' user_id=exam.registrado_por.user_id_id %}">
                        <i class="fa fa-eye" aria-hidden="true"></i>
                    </button>
                {% endif %}
            </td>
            <td> {{ exam.fecha_de_creacion }} </td>
            <td>
                {% if request.user.doctor_profile %}
                    {{ exam.estado }}
                    {% if exam.get_doctor_process == 100 and request.path == '/my/examinations/' %}
                        <button class="btn btn-primary btn-xs btn_modal" data-modal-title="Terminar Examinacion"
                                href="{% url 'docapp:doctor_end_exam' exam_id=exam.id %}">
                            <i class="fa fa-send" aria-hidden="true"></i>
                        </button>
                    {% endif %}
                {% elif request.user.laboratory_profile %}
                    {{ exam.lab_estado }}
                    {% if exam.get_lab_process == 100 and request.path == '/labapp/my/examinations/' %}
                        <button class="btn btn-primary btn-xs btn_modal" data-modal-title="Terminar Examinacion"
                                href="{% url 'labapp:lab_end_exam' exam_id=exam.id %}">
                            <i class="fa fa-send" aria-hidden="true"></i>
                        </button>
                    {% endif %}
                {% else %}
                    {{ exam.estado }}
                {% endif %}
            </td>
            {% if request.user.is_authenticated %}
                <td class="btnRealizar">
                    <button type="button"
                            class="btn btn-primary btnRealizar"
                            data-toggle="modal"
                            data-target="#exampleModal"
                            data-id_consult= "{{ exam.id }}"
                            data-status = "{{ exam.estado }}">
                        <i class="fa fa-list-alt btnRealizar" aria-hidden="true">Realizar</i>
                    </button>
                </td>
            {% endif %}
        </tr>

    {% endfor %}
    </tbody>
{% endblock %}

{% block extra_content %}
    {% include  'base/base_modal.html' %}
{% endblock %}

{% block scripts %}
    {{ block.super }}

    <script>
        var consult_id = null;
        $('.btn_modal').on('click', function (event) {
            event.preventDefault();
            load_modal(this.dataset.modalTitle, "success", this.getAttribute('href'));
        });

       document.body.addEventListener('click', evt => {
            const target = evt.target;
            const parent = target.parentElement;

            if (parent.classList.contains('btnRealizar')) {
                if (target.classList.contains('btnRealizar')) {
                    consult_id = evt.target.dataset.id_consult;
                    status = evt.target.dataset.status;
                    console.log(consult_id)

                    if(status === "pendiente") {
                        document.querySelector('#message_title').innerText = "¿Esta seguro que desea asignarlo?";
                        $('#modal_process').on('click', e =>  assing_consult(consult_id));
                    }else{
                        document.querySelector('#message_title').innerText= "¿Esta seguro que desea finalizarlo?";
                        $('#modal_process').on('click', e =>  finish_consult(consult_id));
                    };
            } else {
                    consult_id = parent.dataset.id_consult;

                    if(status === "pendiente"){
                        console.log(consult_id)
                        document.querySelector('#message_title').innerText= "¿Esta seguro que desea asignarlo?";
                        $('#modal_process').on('click', e => assing_consult(consult_id));

                    } else{
                        document.querySelector('#message_title').innerText= "¿Esta seguro que desea finalizarlo?";
                        $('#modal_process').on('click', e =>  finish_consult(consult_id));
                    }


            }
            }
        });

        $('#modal_process').on('click', function () {
         location.reload();
        })
    </script>
{% endblock %}