<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Examenes</title>
</head>
<body>
{% if exam_list %}
    <ul>
        {% for exam in exam_list %}
            <li>
                <ul>
                    <li>Persona: {{ exam.person }}</li>
                    <li>Tipo Examen: {{ exam.name }}</li>
                    <li>Estado: {{ exam.state }}</li>
                    <li>Progreso: {{ exam.get_process }}%</li>
                    {% if request.user.doctor_profile %}
                        <li><a href="{% url 'docapp:register_visiometry' exam_id=exam.id %}">Visiometria</a></li>
                        <li><a href="{% url 'docapp:register_audiology' exam_id=exam.id %}">Audiologia</a></li>
                        <li><a href="{% url 'docapp:register_audiometry' exam_id=exam.id %}">Audiometria</a></li>
                        <li><a href="{% url 'docapp:register_occupational' exam_id=exam.id %}">Ocupacional</a></li>
                    {% endif %}
                {% if request.user.laboratory_profile %}
                    <li><a href="{% url 'docapp:register_laboratory' exam_id=exam.id %}">Registrar Datos</a></li>
                {% endif %}
                </ul>
            </li>
            <hr>
        {% endfor %}
    </ul>
{% else %}
    <h1>No se han registrado examenes</h1>
{% endif %}
</body>
</html>