{% extends 'base/base_list.html' %}
{% load static %}
{% block title %} Lista Personas {% endblock %}

{% block page_title %}Personas Independientes{% endblock %}
{% block small_message %} Lista de personas independientes {% endblock %}
{% block add_link %} {% url 'docapp:register_employ_without_company' %} {% endblock %}
{% block add_link_label %} Persona {% endblock %}

{% block datatable_body %}
    <thead>
    <tr>
        <th>Identificacion</th>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Telefono</th>
        <th>Celular</th>
        <th>Sexo</th>
        <th>Empresa</th>
        <th>Examinacion</th>
        {% if request.user.doctor_profile %}<th>Antecedentes</th>{% endif %}
        <th>Opciones</th>
    </tr>
    </thead>
    <tbody>
    {% for person in person_list %}
        <tr>
            <td>{{ person.identificacion }}</td>
            <td>{{ person.nombres }}</td>
            <td>{{ person.apellidos }}</td>
            <td>{{ person.telefono }}</td>
            <td>{{ person.celular }}</td>
            <td>{{ person.sexo }}</td>
            <td>{% if person.empresa %} {{ person.empresa }} {% else %} No
                presenta {% endif %}</td>
            <td>
                <a href="{% url 'docapp:register_employ_examination' person_id=person.id %}">
                    <button class="btn btn-warning btn-xs" data-toggle="tooltip"
                            data-placement="left" title="" data-original-title="Iniciar">
                        Registro <i class="fa fa-pencil" aria-hidden="true"></i>
                    </button>
                </a>
            </td>
            {% if request.user.doctor_profile %}
                <td>
                    <!-- Register Link -->
                    <a href="{% url 'docapp:register_employ_antecedent' person_id=person.id %}">
                        <button class="btn btn-warning btn-xs" data-toggle="tooltip"
                                data-placement="left" title="" data-original-title="Registrar">
                            Registro <i class="fa fa-pencil" aria-hidden="true"></i>
                        </button>
                    </a>
                    <!-- List Link -->
                    <a href="{% url 'docapp:list_employ_antecedents' person_id=person.id %}">
                        <button class="btn btn-primary btn-xs" data-toggle="tooltip"
                                data-placement="left" title="" data-original-title="Ver lista">
                            <i class="fa fa-list-alt" aria-hidden="true"></i> Lista
                        </button>
                    </a>
                </td>
            {% endif %}
            <td>
                <!-- Detail Link -->
                <button class="btn btn-primary btn-xs btn_modal" data-toggle="tooltip"
                        data-placement="left" data-modal-title="Detalle Empleado" data-original-title="Ver"
                        href="{% url 'docapp:detail_employ' person_id=person.id %}">
                    Ver <i class="fa fa-eye" aria-hidden="true"></i>
                </button>
                <!-- Update Link -->
                <a href="{% url 'docapp:update_employ' person_id=person.id %}">
                    <button class="btn btn-warning btn-xs" data-toggle="tooltip"
                            data-placement="left" title="" data-original-title="Editar">
                        <i class="fa fa-edit" aria-hidden="true"></i> Editar
                    </button>
                </a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
{% endblock %}
{% block extra_content %}
    {% include 'base/base_modal.html' %}
{% endblock %}
{% block extra_scripts %}
    <script>
        $('.btn_modal').on('click', function (event) {
            event.preventDefault();
            load_modal(this.dataset.modalTitle, "success", this.getAttribute('href'));
        });
    </script>
{% endblock %}
