{% extends 'base/base_list.html' %}
{% load static %}
{% block title %} Lista paciente {% endblock %}

{% block page_title %}Pacientes Registrados{% endblock %}
{% block small_message %} Lista de Pacientes {% endblock %}
{% block add_link %} {% url 'docapp:register_simple_patient' %} {% endblock %}
{% block add_link_label %} Pacientes {% endblock %}



{% block datatable_body %}
    {% include 'docapp/details/alert_secure.html' %}
    <thead>
    <tr>
        <th>Identificacion</th>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Telefono</th>
        <th>Celular</th>
        <th>Sexo</th>
        <th>Consulta</th>
        {% if request.user.doctor_profile %}
            <th>Antecedentes</th>{% endif %}
        <th>Opciones</th>
    </tr>
    </thead>
    <tbody>
    {% for person in patient_list %}
        <tr>
            <td>{{ person.identificacion }}</td>
            <td>{{ person.nombres }}</td>
            <td>{{ person.apellidos }}</td>
            <td>{{ person.telefono }}</td>
            <td>{{ person.celular }}</td>
            <td>{{ person.sexo }}</td>
            <td>
                <button type="button"
                        class="btn btn-primary btnActivar"
                        data-toggle="modal"
                        data-target="#exampleModal"
                        data-id_paciente= {{ person.id }}>
                    <i class="fa fa-list-alt" id="message_button" aria-hidden="true">Activar</i>
                </button>
            </td>

            {% if request.user.doctor_profile %}
                <td>
                    <!-- Register Link -->
                    <a href="{% url 'docapp:register_employ_antecedent' person_id=person.id %}">
                        <button class="btn btn-warning btn-xs" data-toggle="tooltip"
                                data-placement="left" title="" data-original-title="Registrar">
                            <i class="fa fa-pencil" aria-hidden="true"></i>
                        </button>
                    </a>
                    <!-- List Link -->
                    <a href="{% url 'docapp:list_employ_antecedents' person_id=person.id %}">
                        <button class="btn btn-primary btn-xs" data-original-title="Ver lista">
                            <i class="fa fa-list-alt" aria-hidden="true"></i> Lista
                        </button>
                    </a>
                </td>{% endif %}
            <td>
                <!-- Detail Link -->
                <button class="btn btn-primary btn-xs btn_modal" data-modal-title="Detalle Empleado"
                        href="{% url 'docapp:detail_patient' pk=person.id %}">
                    Ver <i class="fa fa-eye" aria-hidden="true"></i>
                </button>
                <!-- Update Link -->
                <a href="{% url 'docapp:update_simple_patient' pk=person.id %}">
                    <button class="btn btn-warning btn-xs">
                        <i class="fa fa-edit" aria-hidden="true"></i> Editar
                    </button>
                </a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
    <h1 id="name"></h1>
{% endblock %}
{% block extra_content %}
    {% include 'base/base_modal.html' %}
{% endblock %}
{% block extra_scripts %}
    <script>
        $('.btn_modal').on('click', function (event) {
            event.preventDefault();
            load_modal(this.dataset.modalTitle, "success", this.getAttribute('href'));
        });
    </script>
    <script>
        var patiend_id = null;
        $('.btn_modal').on('click', function (event) {
            event.preventDefault();
            load_modal(this.dataset.modalTitle, "success", this.getAttribute('href'));
        });
        document.body.addEventListener('click', evt => {
            const target = evt.target;
            const parent = target.parentElement;

            document.querySelector('#message_title').innerText= "¿Esta seguro que desea activarlo?";

            if (!parent.classList.contains('btnActivar')) {
                if (target.classList.contains('btnActivar')) {
                    patiend_id = evt.target.dataset.id_paciente;
                    $('#modal_process').on('click', e =>  make_consult(patiend_id));

                }
            } else {
                patiend_id = parent.dataset.id_paciente;
                if (patiend_id) {
                    $('#modal_process').on('click', e => make_consult(patiend_id));

                }
                console.log(patiend_id)
            }
        });


    </script>
{% endblock %}
