{% extends 'base/base_dashboard.html' %}
{% load static %}
{% block title %} Registro Antecedentes {% endblock %}

{% block content_header %}
    <div class="header-icon">
        <i class="pe-7s-box1"></i>
    </div>
    <div class="header-title">
        <h1>Registrando antecedente a {% if antecedent.persona %} {{ antecedent.persona }} {% else %} {{ person }} {% endif %}</h1>
        <small>Ingrese informacion correspondiente</small>
    </div>
{% endblock %}

{% block content_main %}
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-bd">
                <div class="panel-heading">
                    <div class="btn-group"><h1>Registro</h1></div>
                </div>
                <div class="panel-body">

                    <form class="col-sm-12" method="POST">
                        {% csrf_token %}
                        {# General #}
                        {% include 'includes/simple_register_form.html' with form=form %}
                        {# Riesgos #}
                        <section class="{{ formsets.0.section_name }} row">
                            <div class="col-sm-12">
                                {{ formsets.0.form.management_form }}
                                <h2>Riesgos</h2>
                                <span class="pull-left"><small><b>Seleccione los riesgos presentados</b></small></span>
                                <hr>
                                {% include 'includes/examination_simple_form.html' with form=formsets.0.form.forms.0 %}
                            </div>
                        </section>
                        {# Accidentes #}
                        <section class="{{ formsets.1.section_name }} row">
                            <div class="col-sm-12">
                                <h2>Accidentes</h2>
                                <span class="pull-left"><small><b>Registre Accidentes del trabajo</b></small></span>
                                <hr>
                                {% include 'includes/formset_structure.html' with formset=formsets.1 %}
                            </div>
                        </section>
                        <div class="col-sm-12 reset-button">
                            <hr>
                            <button type="submit" class="btn btn-success">Guardar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block scripts %}
    {{ block.super }}
    <script src="{% static 'js/formsetManager.js' %}"></script>
    <script type="application/javascript">
        $('div#{{ formsets.1.form.prefix }}').formsetManager();
    </script>

{% endblock %}