<!DOCTYPE html>
<html lang="en">
<head>
    {% load crispy_forms_tags %}
    <meta charset="UTF-8">
    <title>Registro Examen Audiologia</title>
</head>
<body>
<h1>Resultado visiometria de proceso #{{ exam.id }}</h1>
<hr>
{% if messages %}
    {% for message in messages %}
        {{ message }}
    {% endfor %}
    <hr>
{% endif %}
<form method="POST">
    {% csrf_token %}
    {{ form|crispy }}
    <hr>
    <h2>Ananmesis</h2>

    {{ ananmesis_section.management_form }}
    {% for form in ananmesis_section.forms %}
        <div class="ananmesis_section">
            {{ form|crispy }}
        </div>
    {% endfor %}

    {% if ananmesis_section.non_form_errors %}
        <hr>
        {% for error in ananmesis_section.non_form_errors %}
            {{ error|escape }}
        {% endfor %}
    {% endif %}

    <h2>Antecedente Familiares</h2>
    {{ ant_familiar_section.management_form }}
    {% for form in ant_familiar_section.forms %}
        <div class="ant_familiar_section">
            {{ form|crispy }}
        </div>
    {% endfor %}

    {% if ant_familiar_section.non_form_errors %}
        {% for error in ant_familiar_section.non_form_errors %}
            {{ error|crispy }}
        {% endfor %}
    {% endif %}

    <h2>Otros Antecedentes</h2>
    {{ ant_otro_section.management_form }}
    {% for form in ant_otro_section.forms %}
        <div class="ant_otro_section">
            {{ form|crispy }}
        </div>
    {% endfor %}
    {% if ant_otro_section.non_form_errors %}
        {% for error in ant_otro_section.non_form_errors %}
            {{ error|escape }}
        {% endfor %}
    {% endif %}

    <h2>Exposiciones</h2>
    {{ exposicion_section.management_form }}
    {% for form in exposicion_section.forms %}
        <div class="exposicion_section">
            {{ form|crispy }}
        </div>
    {% endfor %}
    {% if exposicion_section.non_form_errors %}
        {% for error in exposicion_section.non_form_errors %}
            {{ error|escape }}
        {% endfor %}
    {% endif %}

    <h2>Estado Actual</h2>
    {{ estado_actual_section.management_form }}
    {% for form in estado_actual_section.forms %}
        <div class="estado_actual_section">
            {{ form|crispy }}
        </div>
    {% endfor %}

    {% if estado_actual_section.non_form_errors %}
        {% for error in estado_actual_section.non_form_errors %}
            {{ error|escape }}
        {% endfor %}
    {% endif %}

    <!-- Riesgos Section -->
    <hr>
    <button type="submit">Guardar</button>
    <a href="{% url 'docapp:dashboard' %}">Inicio</a>
</form>
</body>
</html>