<!DOCTYPE html>
<html lang="en">
<head>
    {% load crispy_forms_tags %}
    <meta charset="UTF-8">
    <title>Registro Examen Audiometria</title>
</head>
<body>
<h1>Resultado audiometria del proceso #{{ exam.id }}</h1>
<hr>
{% if messages %}
    {% for message in messages %}
        {{ message }}
    {% endfor %}
    <hr>
{% endif %}
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form|crispy }}
    <hr>
    <h2>Resultados Otoscopia</h2>

    {{ otoscopia_section.management_form }}
    {% for form in otoscopia_section.forms %}
        <div class="otoscopia_section">
            {{ form|crispy }}
        </div>
    {% endfor %}

    {% if otoscopia_section.non_form_errors %}
        <hr>
        {% for error in otoscopia_section.non_form_errors %}
            {{ error|escape }}
        {% endfor %}
    {% endif %}

    <h2>Informacion</h2>
    {{ information_section.management_form }}
    {% for form in information_section.forms %}
        <div class="information_section">
            {{ form|crispy }}
        </div>
    {% endfor %}

    {% if information_section.non_form_errors %}
        {% for error in information_section.non_form_errors %}
            {{ error|crispy }}
        {% endfor %}
    {% endif %}
    <hr>
    <button type="submit">Guardar</button>
    <a href="{% url 'docapp:dashboard' %}">Inicio</a>
</form>
</body>
</html>