{% extends 'base/base_dashboard.html' %}
{% block title %} Registro Empresa {% endblock %}

{% block content_header %}
    <div class="header-icon">
        <i class="pe-7s-box1"></i>
    </div>
    <div class="header-title">
        <form action="#" method="get" class="sidebar-form search-box pull-right hidden-md hidden-lg hidden-sm">
            <div class="input-group">
                <input name="q" class="form-control" placeholder="Search..." type="text">
                <span class="input-group-btn">
                                    <button type="submit" name="search" id="search-btn" class="btn"><i
                                            class="fa fa-search"></i></button>
                                </span>
            </div>
        </form>
        <h1>Registro Empresas</h1>
        <small>Ingrese informacion correspondiente</small>
        <ol class="breadcrumb hidden-xs">
            <li><a href="{% url 'docapp:dashboard' %}"><i class="pe-7s-home"></i> Home</a></li>
            <li class="active">Dashboard</li>
        </ol>
    </div>
{% endblock %}

{% block content_main %}

<div class="row">
        <!-- Form controls -->
    <div class="col-sm-12">
        <div class="panel panel-bd">
            <div class="panel-heading">
                <div class="btn-group">
                    <a class="btn btn-primary" href="{% url 'docapp:company_list' %}"> <i class="fa fa-list"></i>
                            Lista Empresas</a>
                </div>
            </div>
            <div class="panel-body">
                <form class="col-sm-12" method="POST">
                    {% csrf_token %}
                    <!-- Name input -->
                    <div class="col-sm-6 form-group">
                        <label {% if form.name.errors %}  class="label label-danger" {% else %}
                                                              class="label label-primary" {% endif %}
                                                              for="{{ form.name.name }}">Nombre </label>

                        <input type="text"
                                {% if form.name.errors %} class="form-control label-danger-outline" {% else %}
                               class="form-control" {% endif %}
                               name="{{ form.name.name }}"
                               id="{{ form.name.name }}" placeholder="Ingrese nombre"
                                {% if form.name.value %}  value="{{ form.name.value }}" {% endif %}
                               required=""/>

                        {% if form.name.errors %}
                            <div class="alert alert-sm alert-danger alert-dismissible m-t-20" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                                        aria-hidden="true">×</span></button>
                                {% for error in form.name.errors %}
                                    <i class="fa fa-exclamation-circle"></i><strong>Error!</strong>
                                    {{ error|escape }}
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                    <!-- nit input -->
					<div class="col-sm-6 form-group">
                        <label {% if form.nit.errors %}  class="label label-danger" {% else %}
                                                              class="label label-primary" {% endif %}
                                                              for="{{ form.nit.name }}">NIT</label>

                        <input type="number"
                                {% if form.nit.errors %} class="form-control label-danger-outline" {% else %}
                               class="form-control" {% endif %}
                               name="{{ form.nit.name }}"
                               id="{{ form.nit.name }}" placeholder="Ingrese NIT de la emepresa"
                                {% if form.nit.value %}  value="{{ form.nit.value }}" {% endif %}
                               required=""/>

                        {% if form.nit.errors %}
                            <div class="alert alert-sm alert-danger alert-dismissible m-t-20" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                                        aria-hidden="true">×</span></button>
                                {% for error in form.nit.errors %}
                                    <i class="fa fa-exclamation-circle"></i><strong>Error!</strong>
                                    {{ error|escape }}
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                    <!-- Direction -->
					<div class="col-sm-6 form-group">
                        <label {% if form.direction.errors %}  class="label label-danger" {% else %}
                                                              class="label label-primary" {% endif %}
                                                              for="{{ form.direction.name }}">Direccion</label>

                        <input type="text"
                                {% if form.nit.errors %} class="form-control label-danger-outline" {% else %}
                               class="form-control" {% endif %}
                               name="{{ form.direction.name }}"
                               id="{{ form.direction.name }}" placeholder="Ingrese direccion"
                                {% if form.direction.value %}  value="{{ form.direction.value }}" {% endif %}
                               required=""/>

                        {% if form.direction.errors %}
                            <div class="alert alert-sm alert-danger alert-dismissible m-t-20" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                                        aria-hidden="true">×</span></button>
                                {% for error in form.direction.errors %}
                                    <i class="fa fa-exclamation-circle"></i><strong>Error!</strong>
                                    {{ error|escape }}
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                    <!-- Landline -->
                    <div class="col-sm-6 form-group">
                        <label {% if form.land_line.errors %}  class="label label-danger" {% else %}
                                                              class="label label-primary" {% endif %}
                                                              for="{{ form.land_line.name }}">Telefono Fijo</label>

                        <input type="number"
                                {% if form.land_line.errors %} class="form-control label-danger-outline" {% else %}
                               class="form-control" {% endif %}
                               name="{{ form.land_line.name }}"
                               id="{{ form.land_line.name }}" placeholder="Ingrese Telefono fijo"
                                {% if form.land_line.value %}  value="{{ form.land_line.value }}" {% endif %}
                               required=""/>

                        {% if form.land_line.errors %}
                            <div class="alert alert-sm alert-danger alert-dismissible m-t-20" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                                        aria-hidden="true">×</span></button>
                                {% for error in form.land_line.errors %}
                                    <i class="fa fa-exclamation-circle"></i><strong>Error!</strong>
                                    {{ error|escape }}
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                    <!-- Cellphone input -->
                    <div class="col-sm-6 form-group">
                        <label {% if form.cellphone.errors %}  class="label label-danger" {% else %}
                                                              class="label label-primary" {% endif %}
                                                              for="{{ form.cellphone.name }}">Celular</label>

                        <input type="number"
                                {% if form.cellphone.errors %} class="form-control label-danger-outline" {% else %}
                               class="form-control" {% endif %}
                               name="{{ form.cellphone.name }}"
                               id="{{ form.cellphone.name }}" placeholder="Ingrese Celular"
                                {% if form.cellphone.value %}  value="{{ form.cellphone.value }}" {% endif %}
                               required=""/>

                        {% if form.cellphone.errors %}
                            <div class="alert alert-sm alert-danger alert-dismissible m-t-20" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                                        aria-hidden="true">×</span></button>
                                {% for error in form.cellphone.errors %}
                                    <i class="fa fa-exclamation-circle"></i><strong>Error!</strong>
                                    {{ error|escape }}
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                    <!-- contact email -->
                    <div class="col-sm-6 form-group">
                        <label {% if form.contact.errors %}  class="label label-danger" {% else %}
                                                              class="label label-primary" {% endif %}
                                                              for="{{ form.contact.name }}">Correo de Contacto</label>

                        <input type="email"
                                {% if form.cellphone.errors %} class="form-control label-danger-outline" {% else %}
                               class="form-control" {% endif %}
                               name="{{ form.contact.name }}"
                               id="{{ form.contact.name }}" placeholder="Ingrese Correo"
                                {% if form.contact.value %}  value="{{ form.contact.value }}" {% endif %}
                               required=""/>

                        {% if form.contact.errors %}
                            <div class="alert alert-sm alert-danger alert-dismissible m-t-20" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                                        aria-hidden="true">×</span></button>
                                {% for error in form.contact.errors %}
                                    <i class="fa fa-exclamation-circle"></i><strong>Error!</strong>
                                    {{ error|escape }}
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                    <div class="col-sm-12 reset-button">
            	        <hr>
                        <!--a href="#" class="btn btn-warning">Reset</a-->
                        <button type="submit" class="btn btn-success">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}