{% extends 'base/base_dashboard.html' %}

{% block title %} Registro Empleado {% endblock %}

{% block styles %}
    {{ block.super }}
    <style type="text/css">
        .label-custom {
            background-color: #009688;
            border: 2px solid #3a95e4a6;
        }
    </style>
{% endblock %}

{% block content_header %}
    <div class="header-icon">
        <i class="pe-7s-box1"></i>
    </div>
    <div class="header-title">
        <form action="#" method="get" class="sidebar-form search-box pull-right hidden-md hidden-lg hidden-sm">
            <div class="input-group">
                <input name="q" class="form-control" placeholder="Search..." type="text">
                <span class="input-group-btn">
                                    <button type="submit" name="search" id="search-btn" class="btn"><i
                                            class="fa fa-search"></i></button>
                                </span>
            </div>
        </form>
        <h1>Inicio Examinacion de {{ parent_object }} </h1>
        <small>Ingrese informacion correspondiente</small>
        <ol class="breadcrumb hidden-xs">
            <li><a href="{% url 'docapp:dashboard' %}"><i class="pe-7s-home"></i> Home</a></li>
            <li class="active">Dashboard</li>
        </ol>
    </div>
{% endblock %}

{% block content_main %}
    <div class="row">
        <!-- Form controls -->
        <div class="col-sm-12">
            <div class="panel panel-bd">
                <div class="panel-heading">
                    <div class="btn-group">
                        <h1>Registro examen</h1>
                    </div>
                </div>
                <div class="panel-body">

                    <form class="col-sm-12" method="POST">
                        {% csrf_token %}
                        {% if form.non_field_errors %}
                            <ul>
                                {% for error in form.non_field_errors %}
                                    <li>{{ error }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                        <!-- Main form -->
                        <!-- Render select and checkbox fields -->
                        {% for field in form %}
                            {% if field.field.widget.input_type == 'select' %}
                                <label class="label {% if field.errors %} label-danger {% else %}  label-custom {% endif %}"
                                       for="{{ field.id_for_label }}">{{ field.label }}</label>
                                <select class="form-control {% if field.errors %}  label-danger-outline {% endif %}"
                                        name="{{ field.html_name }}" id="{{ field.auto_id }}" size="1">
                                    {% for option in field.field.choices %}
                                        <option value="{{ option.0 }}"{% if field.value == option.0 %}
                                                selected {% endif %}>{{ option.1 }}</option>
                                    {% endfor %}
                                </select>
                            {% elif field.field.widget.input_type == 'checkbox' %}
                                <label class="label {% if field.errors %} label-danger {% else %}  label-custom {% endif %}"
                                       for="{{ field.id_for_label }}">{{ field.label }}</label>
                                <input type="checkbox" class="form-check-input" name="{{ field.html_name }}"
                                       id="{{ field.auto_id }}" {% if field.initial %} checked {% endif %}/>
                            {% endif %}
                        {% endfor %}
                        <!-- Exams intern formset -->
                        <hr>
                        <h2>Examenes internos</h2>
                        <small>ej. electrocardiograma</small>
                        <hr>
                        <div id="{{ formsets.0.form.prefix }}">
                            {% for form in formsets.0.form.forms %}
                                <!-- Render text and checkbox fields -->
                                <div id="{{ formsets.0.form.prefix }}-{{ forloop.counter0 }}" {% if forloop.last %}
                                     class="last_form" {% endif %}>
                                    {% for field in form %}
                                        {% if field.field.widget.input_type == 'text' %}
                                            <label class="label {% if field.errors %} label-danger {% else %}  label-custom {% endif %}"
                                                   for="{{ field.id_for_label }}">{{ field.label }}</label>
                                            <input type="text" class="form-control" name="{{ field.html_name }}"
                                                   id="{{ field.auto_id }}" placeholder="Ingrese {{ field.label }}"
                                                    {% if field.value %}  value="{{ field.value }}" {% endif %}
                                                    {% if field.field.widget.is_required %} required {% endif %}/>
                                        {% elif field.field.widget.input_type == 'checkbox' %}
                                            <label class="label {% if field.errors %} label-danger {% else %}  label-custom {% endif %}"
                                                   for="{{ field.id_for_label }}">{{ field.label }}</label>
                                            <input type="checkbox" class="form-check-input" name="{{ field.html_name }}"
                                                   id="{{ field.auto_id }}" {% if field.initial %} checked {% endif %}/>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                                <br>
                            {% endfor %}
                            {{ formsets.0.form.management_form }}
                        </div>

                        <!-- Lab exams formsets -->
                        <hr>
                        <h2>Examenes de laboratorio</h2>
                        <hr>
                        <div id="{{ formsets.1.form.prefix }}">
                            {% for form in formsets.1.form.forms %}
                                <!-- Render text and checkbox fields -->
                                <div id="{{ formsets.1.form.prefix }}-{{ forloop.counter0 }}" {% if forloop.last %}
                                     class="last_form" {% endif %}>
                                    {% for field in form %}
                                        {% if field.field.widget.input_type == 'text' %}
                                            <label class="label {% if field.errors %} label-danger {% else %}  label-custom {% endif %}"
                                                   for="{{ field.id_for_label }}">{{ field.label }}</label>
                                            <input type="text" class="form-control" name="{{ field.html_name }}"
                                                   id="{{ field.auto_id }}" placeholder="Ingrese {{ field.label }}"
                                                    {% if field.value %}  value="{{ field.value }}" {% endif %}
                                                    {% if field.field.widget.is_required %} required {% endif %}/>
                                        {% elif field.field.widget.input_type == 'checkbox' %}
                                            <label class="label {% if field.errors %} label-danger {% else %}  label-custom {% endif %}"
                                                   for="{{ field.id_for_label }}">{{ field.label }}</label>
                                            <input type="checkbox" class="form-check-input" name="{{ field.html_name }}"
                                                   id="{{ field.auto_id }}" {% if field.initial %} checked {% endif %}/>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            {% endfor %}
                            {{ formsets.1.form.management_form }}
                        </div>
                        <div class="col-sm-12 reset-button">
                            <hr>
                            <button type="submit" class="btn btn-success">Guardar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block scripts %}
    {{ block.super }}
    <script type="application/javascript">

        function clean_formset(prefix) {
            let parent = $('div#' + prefix);

            /* Reset div's  -- Check if is necessary
            let minimun = parseInt(parent.children('div.last_form').attr('id').match(/\d+/)[0]);

            let new_elements = [];
            parent.children('div.form_insert').each(function (index, item) {
                let new_number = minimun + (index + 1);

                let new_text = prefix + '-'+ new_number; // New prefix
                let prev_text = new RegExp($(item).attr('id'), 'g');

                // console.log("Prev element -> " + prev_text);
                // console.log("New element -> " + new_text);

                let new_element = $(item).prop('outerHTML').replace(prev_text, new_text);
                new_elements.push(new_element);
            });

            parent.children('div.form_insert').remove(); // Remove old elements

            new_elements.forEach(function (item) {
                $(item).insertAfter(parent.children('div').last());
            }); */

            $("input[name='" + prefix + "-TOTAL_FORMS']").val($(parent).children('div').length);  // Update total forms

        }

        function add_one_more(prefix) {
            let parent_div = $('div#' + prefix);
            let total_forms_selector = "input[name='" + prefix + "-TOTAL_FORMS']";
            let prev_value = parseInt(parent_div.children(total_forms_selector).val());
            let new_text = prefix + '-' + prev_value.toString();
            let prev_text_regex = new RegExp(prefix + '-\\d+', 'g');
            let last_normal_form_reference = parent_div.children('div.last_form');  // Get last formset load normally

            let new_id = last_normal_form_reference.attr('id').replace(prev_text_regex, new_text);  // Make new id
            $("<br id='br_" + new_id + "'/><div id='" + new_id + "' class='form_insert'></div>").insertAfter(parent_div.children('div').last());

            // Update total forms
            parent_div.children(total_forms_selector).val(prev_value + 1);

            let new_element = parent_div.children('div#' + new_id);
            // Create del buttom
            let del_id = 'del_' + new_id;
            new_element.append("<button class='btn btn-xs btn-danger pull-right' id='" + del_id + "'>Borrar</button>");
            $('button#' + del_id).click(function () {
                $('div#' + new_id).remove();
                $('br#br_' + new_id).remove();
                clean_formset(prefix);
            });
            // End create del buttom

            // Fill new element (inputs, labels)
            last_normal_form_reference.children().each(function () {
                let element = $(this).prop('outerHTML');
                new_element.append(element.replace(prev_text_regex, new_text));
            });
        }

        function add_more_btn(formsets_selectors) {
            formsets_selectors.forEach(function (item) {
                let item_id = $(item).attr('id')
                let id = 'add_' + item_id;
                $(item).append(
                    "<span id='" + id + "'class='pull-right'><i class='hvr-buzz-out fa fa-plus-square fa-2x'></i></span><br />"
                );
                // Handle Click Event
                $('span#' + id).click(function () {
                    add_one_more(item_id);
                });
            });
        }

        // Script to manage formset
        $(document).ready(function () {
            add_more_btn(['div#{{ formsets.0.form.prefix }}', 'div#{{ formsets.1.form.prefix }}']);  // Add + buttons
        });
    </script>
{% endblock %}