<!DOCTYPE html>
<html lang="en">
<head>
    {% load crispy_forms_tags %}
    <meta charset="UTF-8">
    <title>Registro Examenes Laboratorio</title>
</head>
<body>
<h1>Resultados Laboratorio del proceso #{{ exam.id }}</h1>
<hr>
{% if messages %}
    {% for message in messages %}
        {{ message }}
    {% endfor %}
    <hr>
{% endif %}
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form|crispy }}
    <hr>
    <h2>Resultados Sanguineos</h2>

    {{ blood_section.management_form }}
    {% for form in blood_section.forms %}
        <div class="blood_section">
            {{ form|crispy }}
        </div>
    {% endfor %}

    {% if blood_section.non_form_errors %}
        <hr>
        {% for error in blood_section.non_form_errors %}
            {{ error|escape }}
        {% endfor %}
    {% endif %}

    <h2>Examanes Realizados</h2>
    {{ exams_section.management_form }}
    {% for form in exams_section.forms %}
        <div class="exams_section">
            {{ form|crispy }}
        </div>
    {% endfor %}

    {% if exams_section.non_form_errors %}
        {% for error in exams_section.non_form_errors %}
            {{ error|crispy }}
        {% endfor %}
    {% endif %}
    <hr>
    <button type="submit">Guardar</button>
    <a href="{% url 'docapp:dashboard' %}">Inicio</a>
</form>
</body>
</html>