{% extends 'base/base_dashboard.html' %}
{% load static %}
{% load extract_name %}
{% block title %} Registro Antecedentes {% endblock %}

{% block content_header %}
    <div class="header-icon">
        <i class="pe-7s-box1"></i>
    </div>
    <div class="header-title">
        <form action="#" method="get" class="sidebar-form search-box pull-right hidden-md hidden-lg hidden-sm">
            <div class="input-group">
                <input name="q" class="form-control" placeholder="Search..." type="text">
                <span class="input-group-btn">
                                    <button type="submit" name="search" id="search-btn" class="btn"><i
                                            class="fa fa-search"></i></button>
                                </span>
            </div>
        </form>
        <h1>Registrando antecedente a {{ antecedent.person.get_full_name }}</h1>
        <small>Ingrese informacion correspondiente</small>
        <ol class="breadcrumb hidden-xs">
            <li><a href="{% url 'docapp:dashboard' %}"><i class="pe-7s-home"></i> Home</a></li>
            <li class="active">Dashboard</li>
        </ol>
    </div>
{% endblock %}

{% block content_main %}
    <div class="row">
        <!-- Form controls -->
        <div class="col-sm-12">
            <div class="panel panel-bd">
                <div class="panel-heading">
                    <div class="btn-group">
                        <a class="btn btn-primary" href="{% url 'docapp:person_list' %}"> <i class="fa fa-list"></i>
                            Lista Pacientes</a>
                    </div>
                </div>
                <div class="panel-body">

                    <form class="col-sm-12" method="POST">
                        {% csrf_token %}
                        <!-- General -->
                        {% for field in form %}
                            {% if not forloop.counter|divisibleby:"2" %}
                                <div class="row">
                            {% endif %}

                        <div class="col-sm-6 form-group">
                            <label class="label {% if field.errors %} label-danger {% else %} label-primary {% endif %}"
                                   for="{{ field.name }}">{{ field.label }}</label>

                            {% if field.field.widget.input_type == 'select' %}
                                <!-- Select input -->
                                <select class="form-control {% if field.errors %}  label-danger-outline {% endif %}"
                                        name="{{ field.name }}"
                                        id="{{ field.name }}"
                                        size="1">
                                    {% for option in field.field.choices %}
                                        <option value="{{ option.0 }}" {% if field.value == option.0 %}
                                                selected {% endif %}>{{ option.1 }}</option>
                                    {% endfor %}
                                </select>
                            {% elif field.field.widget.input_type == 'checkbox' %}
                                {{ field }}
                            {% else %}
                                <input type="{{ field.field.widget.input_type }}"
                                       class="{% if field.field.widget.format_key == 'DATE_INPUT_FORMATS' %} datepicker {% endif %}
                                           form-control {% if field.errors %} label-danger-outline {% endif %}"
                                       name="{{ field.name }}"
                                       id="{{ field.name }}" placeholder="Ingrese {{ field.label }}"
                                        {% if field.value %}  value="{{ field.value }}" {% endif %}
                                        {% if field.field.widget.is_required %}  required="" {% endif %}/>
                            {% endif %}

                            {% if field.errors %}
                                <div class="alert alert-sm alert-danger alert-dismissible m-t-20" role="alert">
                                    <button type="button" class="close" data-dismiss="alert"
                                            aria-label="Close"><span
                                            aria-hidden="true">×</span></button>
                                    {% for error in field.errors %}
                                        <i class="fa fa-exclamation-circle"></i><strong>Error!</strong>
                                        {{ error|escape }}
                                    {% endfor %}
                                </div>
                            {% endif %}

                            {% if forloop.counter|divisibleby:"2" %}
                                </div>
                            {% endif %}
                        </div>
                        {% endfor %}
                        <hr>
                        <!-- Section riesgos -->
                        <section class="riesgos">
                        <span class="pull-left">
                            <small><b>Seleccione los riesgos presentados</b></small>
                        </span><br>
                            {{ hazard_section.management_form }}
                            {% for hazard in hazard_section.forms %}
                                <ul>
                                    {% for form in hazard %}
                                        <li class="m-t-20" style="list-style-type: none">
                                            <input name="{{ form.name }}" id="id_hazards-0-fisico" type="checkbox">
                                            <label class="label {% if form.errors %} label-danger {% else %} label-primary {% endif %}"
                                                   for="{{ form.name }}">{{ form.label }}</label>

                                        </li>
                                    {% endfor %}
                                </ul>
                            {% endfor %}

                            {% if hazard_section.non_form_errors %}
                                <hr>
                                {% for error in accident_formset.non_form_errors %}
                                    {{ error|escape }}
                                {% endfor %}
                            {% endif %}
                        </section>
                        <hr>
                        <section class="accidents">

                            {{ formset.form.management_form }}
                            <div class="panel panel-bd lobidisable">
                                <div class="panel-heading">
                                    <div class="btn-group"><h2>Accidentes</h2></div>
                                </div>

                                <div class="panel-body">
                                    {% for form in accident_formset.forms %}
                                        <section id="accident-{{ forloop.counter0 }}" class="accident_form">
                                            <h3>Accidente #{{ form.id.html_name|extract_name }}</h3>
                                            <hr>
                                            {% for field in form %}

                                                {% if not forloop.counter|divisibleby:"2" %}
                                                    <div class="row">
                                                {% endif %}

                                            {% if field.field.widget.input_type == 'hidden' %}
                                                {{ field }}
                                            {% else %}

                                                <div class="col-sm-6 form-group">

                                                    <label class="label {% if field.errors %} label-danger
                                                                            {% else %} label-primary {% endif %}"
                                                           for="{{ field.name }}">{{ field.label }}</label>

                                                    {% if field.field.widget.input_type == 'select' %}
                                                        <!-- Select input -->
                                                        <select class="form-control {% if field.errors %}  label-danger-outline {% endif %}"
                                                                name="{{ field.name }}"
                                                                id="{{ field.name }}"
                                                                size="1">
                                                            {% for option in field.field.choices %}
                                                                <option value="{{ option.0 }}"
                                                                        {% if field.value == option.0 %}
                                                                        selected {% endif %}>{{ option.1 }}</option>
                                                            {% endfor %}
                                                        </select>
                                                    {% elif field.field.widget.input_type == 'checkbox' %}
                                                        {{ field }}
                                                    {% else %}
                                                        <input type="{{ field.field.widget.input_type }}"
                                                               class="{% if field.field.widget.format_key == 'DATE_INPUT_FORMATS' %} datepicker {% endif %}
                                                                      form-control {% if field.errors %} label-danger-outline {% endif %}"
                                                               name="{{ field.name }}"
                                                               id="{{ field.name }}"
                                                               placeholder="Ingrese {{ field.label }}"
                                                                {% if field.value %}
                                                               value="{{ field.value }}" {% endif %}
                                                                {% if field.field.widget.is_required %}
                                                               required="" {% endif %}/>
                                                    {% endif %}

                                                    {% if field.errors %}
                                                        <div class="alert alert-sm alert-danger alert-dismissible m-t-20"
                                                             role="alert">
                                                            <button type="button" class="close" data-dismiss="alert"
                                                                    aria-label="Close"><span
                                                                    aria-hidden="true">×</span></button>
                                                            {% for error in field.errors %}
                                                                <i class="fa fa-exclamation-circle"></i>
                                                                <strong>Error!</strong>
                                                                {{ error|escape }}
                                                            {% endfor %}
                                                        </div>
                                                    {% endif %}

                                                </div>
                                            {% endif %}

                                            {% if forloop.counter|divisibleby:"2" %}
                                                </div>
                                            {% endif %}

                                            {% endfor %}
                                        </section>
                                    {% endfor %}
                                </div>
                                {% if accident_formset.non_form_errors %}
                                    <hr>
                                    {% for error in accident_formset.non_form_errors %}
                                        {{ error|escape }}
                                    {% endfor %}
                                {% endif %}
                            </div>


                        </section>
                        <div class="col-sm-12 reset-button">
                            <hr>
                            <!--a href="#" class="btn btn-warning">Reset</a-->
                            <button type="submit" class="btn btn-success">Guardar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block scripts %}
    {{ block.super }}
    <script type="application/javascript" src="{% static 'js/jquery.formset.js' %}"></script>
    <script type="text/javascript">
        $('.accident_form').formset({
            prefix: '{{ accident_formset.prefix }}',
            formCssClass: 'dynamic-formset2'
        });
    </script>
{% endblock %}
