<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Registro</title>
</head>
<body>
<h1>Registrando antecedente a {{ person.get_full_name }}</h1>
<hr>
{% if messages %}
    {% for message in messages %}
        {{ message }}
    {% endfor %}
    <hr>
{% endif %}
<form method="POST">
    {% csrf_token %}
    {{ antecedent_form|crispy }}
    <hr>
    <h2> Riesgos </h2>
    {{ hazard_formset.management_form }}
    <div class="hazard_formset">
        {{ hazard_formset }}
    </div>
    {% if hazard_formset.non_form_errors %}
        {% for error in hazard_formset.non_form_errors %}
            {{ error|escape }}
        {% endfor %}
    {% endif %}

    <h2>Accidentes</h2>
    {{ accident_formset.management_form }}
    <div class="accident_formset">
        {{ accident_formset }}
    </div>
    {% if accident_formset.non_form_errors %}
        {% for error in accident_formset.non_form_errors %}
            {{ error|escape }}
        {% endfor %}
    {% endif %}

    <hr>
    <button type="submit"> Guardar</button>
    <a href="{% url 'docapp:dashboard' %}">Inicio</a>
</form>

    <script type="application/javascript" src="{% static 'js/jquery-3.3.1.slim.min.js' %}"></script>
    <script type="application/javascript" src="{% static 'js/jquery.formset.js' %}"></script>
    <script type="text/javascript">
        $('.accident_formset').formset({
            addText: 'Add Antecedent',
            deleteText: 'Remove Antecedent'
        });
        $('.datepicker').datepicker();
    </script>
</body>
</html>