<!DOCTYPE html>
<html lang="en">
<head>
    {% load crispy_forms_tags %}
    <meta charset="UTF-8">
    <title>Registro Examen Visiometria</title>
</head>
<body>
<h1>Resultado visiometria de proceso #{{ exam.id }}</h1>
<hr>
{% if messages %}
    {% for message in messages %}
        {{ message }}
    {% endfor %}
    <hr>
{% endif %}
<form method="POST">
    {% csrf_token %}
    {{ form|crispy }}
    <hr>
    <h2>Sintomas</h2>

    {{ sintomas_section.management_form }}
    {% for sintomas in sintomas_section.forms %}
        <div class="sintomas_section">
            {{ sintomas|crispy }}
        </div>
    {% endfor %}

    {% if sintomas_section.non_form_errors %}
        <hr>
        {% for error in sintomas_section.non_form_errors %}
            {{ error|escape }}
        {% endfor %}
    {% endif %}
    <h2>Antecedente de enfermedades</h2>
    {{ ant_enfermedad_section.management_form }}
    {% for enfermedad in ant_enfermedad_section.forms %}
        <div class="enfermedad_section">
            {{ enfermedad|crispy }}
        </div>
    {% endfor %}

    {% if ant_enfermedad_section.non_form_errors %}
        {% for error in ant_enfermedad_section.non_form_errors %}
            {{ error|crispy }}
        {% endfor %}
    {% endif %}
    <h2>Antecedentes de uso de lentes</h2>
    {{ ant_uso_lentes_section.management_form }}
    {% for uso_lentes in ant_uso_lentes_section.forms %}
        <div class="ant_uso_lentes_section">
            {{ uso_lentes|crispy }}
        </div>
    {% endfor %}
    {% if ant_uso_lentes_section.non_form_errors %}
        {% for error in ant_uso_lentes_section.non_form_errors %}
            {{ error|escape }}
        {% endfor %}
    {% endif %}
<h2>Antecedentes de examenes</h2>
    {{ ant_extra_exams.management_form }}
    {% for uso_lentes in ant_extra_exams.forms %}
        <div class="ant_extra_exams">
            {{ uso_lentes|crispy }}
        </div>
    {% endfor %}
    {% if ant_extra_exams.non_form_errors %}
        {% for error in ant_extra_exams.non_form_errors %}
            {{ error|escape }}
        {% endfor %}
    {% endif %}
<h2>Agudeza</h2>
    {{ agudeza_section.management_form }}
    {% for uso_lentes in agudeza_section.forms %}
        <div class="agudeza_section">
            {{ uso_lentes|crispy }}
        </div>
    {% endfor %}
    {% if agudeza_section.non_form_errors %}
        {% for error in agudeza_section.non_form_errors %}
            {{ error|escape }}
        {% endfor %}
    {% endif %}
<h2>Cronomatica</h2>
    {{ cronomatica_section.management_form }}
    {% for uso_lentes in cronomatica_section.forms %}
        <div class="cronomatica_section">
            {{ uso_lentes|crispy }}
        </div>
    {% endfor %}
    {% if cronomatica_section.non_form_errors %}
        {% for error in cronomatica_section.non_form_errors %}
            {{ error|escape }}
        {% endfor %}
    {% endif %}

    <!-- Riesgos Section -->
    <hr>
    <button type="submit">Guardar</button>
    <a href="{% url 'docapp:dashboard' %}">Inicio</a>
</form>
</body>
</html>