{% extends 'base/base_examination.html' %}

{% block title %} Examinacion | Resumen {% endblock %}

{% block styles %}
    {{ block.super }}
    <style>
        .colored {
            background-color: #f7f7f9 !important;
            border: 1px solid #9bbcd8 !important;
            border-radius: 0.8% !important;
        }
    </style>
{% endblock %}

{% block page_title %} Registro Resumen Examinacion {% endblock %}



{% block form_body %}

    <div class="row">
        <div class="col-sm-12">
            {% include 'includes/simple_register_form.html' with form=form %}
        </div>
    </div>

    {# Antecedentes Familiares - Personales #}
    <section class="{{ formsets.0.section_name }}">
        {{ formsets.0.form.management_form }}
        <div class="panel panel-bd lobidisable">
            <div class="panel-heading">
                <div class="btn-group"><h2>{{ formsets.0.title }}</h2></div>
            </div>
            <div class="panel-body">
                {% include 'includes/ordered_checkbox_with_textarea.html' with col_size=1 form=formsets.0.form.forms.0 %}
            </div>
        </div>
    </section>

    {# Antecedentes Gineco-Obstetricos #}
    {% if formsets.1 %}
        <section class="{{ formsets.1.section_name }}">
            {{ formsets.1.form.management_form }}
            <div class="panel panel-bd lobidisable">
                <div class="panel-heading">
                    <div class="btn-group"><h2>{{ formsets.1.title }}</h2></div>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-12">
                            {% include 'includes/examination_sort_form.html' with form=formsets.1.form.forms.0 %}
                        </div>
                    </div>
                </div>
            </div>
        </section>
    {% endif %}

    {# Revision por sistemas#}
    <section class="{{ formsets.2.section_name }}">
        {{ formsets.2.form.management_form }}
        <div class="panel panel-bd lobidisable">
            <div class="panel-heading">
                <div class="btn-group"><h2>{{ formsets.2.title }}</h2></div>
            </div>
            <div class="panel-body">
                {% include 'includes/examination_simple_form.html' with form=formsets.2.form.forms.0 %}
            </div>
        </div>
    </section>

    {# Habitos #}
    <section class="habitos">
        <div class="panel panel-bd lobidisable">
            <div class="panel-heading">
                <div class="btn-group"><h2>Habitos</h2></div>
            </div>
            <div class="panel-body">
                <!-- Habito Alcohol -->
                <section class="{{ formsets.3.section_name }}">
                    {{ formsets.3.form.management_form }}
                    <h3>{{ formsets.3.title }}</h3>
                    <div class="row">
                        {% include 'includes/examination_simple_form.html' with form=formsets.3.form.forms.0 %}
                    </div>
                </section>
                <hr>
                <!-- Habito Cigarrillo -->
                <section class="{{ formsets.4.section_name }}">
                    {{ formsets.4.form.management_form }}
                    <h3>{{ formsets.4.title }}</h3>
                    <div class="row">
                        {% include 'includes/examination_simple_form.html' with form=formsets.4.form.forms.0 %}
                    </div>
                </section>
                <hr>
                <!-- Habito Droga -->
                <section class="{{ formsets.5.section_name }}">
                    {{ formsets.5.form.management_form }}
                    <h3>{{ formsets.5.title }}</h3>
                    <div class="row">
                        {% include 'includes/examination_simple_form.html' with form=formsets.5.form.forms.0 %}
                    </div>
                </section>
                <hr>
                <!-- Habitos Generales -->
                <section class="{{ formsets.6.section_name }}">
                    {{ formsets.6.form.management_form }}
                    <h3>{{ formsets.6.title }}</h3>
                    <div class="row">
                        {% include 'includes/examination_simple_form.html' with form=formsets.6.form.forms.0 %}
                    </div>
                </section>
            </div>
        </div>
    </section>
    {# Examen Fisico#}
    <hr>
    <h1>Examen Fisico</h1>
    <small><b>Nota: Por favor seleccionar los que presenten estado anormal de lo contrario no  seleccionar.</b></small>
    <hr>
    {# Aspecto general #}
    <section class="panel panel-bd lobidisable" id="{{ formsets.7.section_name }}">
        {{ formsets.7.form.management_form }}
        <div class="panel-heading">
            <div class="btn-group"><h3 class="text-center">{{ formsets.7.title }}</h3></div>
        </div>
        <div class="panel-body">
            {% include 'includes/ordered_checkbox_with_textarea.html' with col_size=1 form=formsets.7.form.forms.0 %}
        </div>
    </section>
    {# biometria #}
    <section class="panel panel-bd lobidisable" id="{{ formsets.8.section_name }}">
    {{ formsets.8.form.management_form }}
        <div class="panel-heading">
            <div class="btn-group"><h3 class="text-center">{{ formsets.8.title }}</h3></div>
        </div>
        <div class="panel-body">
            {% include 'includes/simple_register_form.html' with form=formsets.8.form.forms.0 %}
        </div>
    </section>
    <hr>
    <h2>Organos</h2>
    <hr>
    <section class="panel panel-bd lobidisable" id="sentidos">
        <div class="panel-heading">
            <div class="panel-title"><h4>Sentidos</h4></div>
        </div>
        <div class="panel-body">
            <div style="padding: 1em 1em 1em 1em;">
                <div class="row colored">
                    <div class="col-sm-12 {{ formsets.9.section_name }} ">
                        <h4 class="text-center">{{ formsets.9.title }}</h4>
                        {{ formsets.9.form.management_form }}
                        {% include 'includes/ordered_checkbox_with_textarea.html' with col_size=1 non_resize=1 form=formsets.9.form.forms.0 %}
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 {{ formsets.10.section_name }}">
                        <h4 class="text-center">{{ formsets.10.title }}</h4>
                        {{ formsets.10.form.management_form }}
                        {% include 'includes/ordered_checkbox_with_textarea.html' with  col_size=1 non_resize=1 form=formsets.10.form.forms.0 %}
                    </div>
                </div>
                <div class="row colored">
                    <div class="col-sm-12 {{ formsets.11.section_name }}">
                        <h4 class="text-center">{{ formsets.11.title }}</h4>
                        {{ formsets.11.form.management_form }}
                        {% include 'includes/ordered_checkbox_with_textarea.html' with col_size=1 non_resize=1 form=formsets.11.form.forms.0 %}
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 {{ formsets.12.section_name }}">
                        <h4 class="text-center">{{ formsets.12.title }}</h4>
                        {{ formsets.12.form.management_form }}
                        {% include 'includes/ordered_checkbox_with_textarea.html' with col_size=1 non_resize=1 form=formsets.12.form.forms.0 %}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="panel panel-bd lobidisable" id="otros_sentidos">
        <div class="panel-heading">
            <div class="panel-title"><h4>Otros</h4></div>
        </div>
        <div class="panel-body">
            <div style="padding: 1em 1em 1em 1em;">
                <div class="row colored">
                    <div class="col-sm-12 {{ formsets.13.section_name }}">
                        <h4 class="text-center">{{ formsets.13.title }}</h4>
                        {{ formsets.13.form.management_form }}
                        {% include 'includes/ordered_checkbox_with_textarea.html' with col_size=1 non_resize=1 form=formsets.13.form.forms.0 %}
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 {{ formsets.14.section_name }}">
                        <h4 class="text-center">{{ formsets.14.title }}</h4>
                        {{ formsets.14.form.management_form }}
                        {% include 'includes/ordered_checkbox_with_textarea.html' with col_size=1 non_resize=1 form=formsets.14.form.forms.0 %}
                    </div>
                </div>
                <div class="row colored">
                    <div class="col-sm-12 {{ formsets.15.section_name }}">
                        <h4 class="text-center">{{ formsets.15.title }}</h4>
                        {{ formsets.15.form.management_form }}
                        {% include 'includes/ordered_checkbox_with_textarea.html' with col_size=1 non_resize=1 form=formsets.15.form.forms.0 %}
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 {{ formsets.16.section_name }}">
                        <h4 class="text-center">{{ formsets.16.title }}</h4>
                        {{ formsets.16.form.management_form }}
                        {% include 'includes/ordered_checkbox_with_textarea.html' with col_size=1 non_resize=1 form=formsets.16.form.forms.0 %}
                    </div>
                </div>
                <div class="row colored">
                    <div class="col-sm-12 {{ formsets.17.section_name }}">
                        <h4 class="text-center">{{ formsets.17.title }}</h4>
                        {{ formsets.17.form.management_form }}
                        {% include 'includes/ordered_checkbox_with_textarea.html' with col_size=1 non_resize=1 form=formsets.17.form.forms.0 %}
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 {{ formsets.18.section_name }}">
                        <h4 class="text-center">{{ formsets.18.title }}</h4>
                        {{ formsets.18.form.management_form }}
                        {% include 'includes/ordered_checkbox_with_textarea.html' with col_size=1 non_resize=1 form=formsets.18.form.forms.0 %}
                    </div>
                </div>
                <div class="row colored">
                    <div class="col-sm-12 {{ formsets.19.section_name }}">
                        <h4 class="text-center">{{ formsets.19.title }}</h4>
                        {{ formsets.19.form.management_form }}
                        {% include 'includes/ordered_checkbox_with_textarea.html' with col_size=1 non_resize=1 form=formsets.19.form.forms.0 %}
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 {{ formsets.20.section_name }}">
                        <h4 class="text-center">{{ formsets.20.title }}</h4>
                        {{ formsets.20.form.management_form }}
                        {% include 'includes/ordered_checkbox_with_textarea.html' with col_size=1 non_resize=1 form=formsets.20.form.forms.0 %}
                    </div>
                </div>
            </div>
        </div>
    </section>

    {# Conclution #}
    {% if formsets.21 %}
        <section class="{{ formsets.21.section_name }}">
            {{ formsets.21.form.management_form }}
            <div class="panel panel-bd lobidisable">
                <div class="panel-heading">
                    <div class="btn-group"><h2>{{ formsets.21.title }}</h2></div>
                </div>
                <div class="panel-body">
                    {% include 'includes/examination_simple_form.html' with form=formsets.21.form.forms.0 %}
                </div>
            </div>
        </section>
    {% endif %}


{% endblock %}