{% extends 'base/base_examination.html' %}

{% block title %} Examinacion | Visiometria {% endblock %}


{% block form_body %}
    {# Sintomas #}
    <section class="panel panel-bd lobidisable" id="{{ formsets.0.section_name }}">
        {{ formsets.0.form.management_form }}
        <div class="panel-heading">
            <div class="btn-group"><h2>{{ formsets.0.title }}</h2></div>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-12">
                    {% include 'includes/ordered_checkbox_with_textarea.html' with col_size=1 non_resize=1 form=formsets.0.form.forms.0 %}
                </div>
            </div>
        </div>
    </section>
    {# Antecedentes Enfermedades #}
    <section class="panel panel-bd lobidisable" id="{{ formsets.1.section_name }}">
        {{ formsets.1.form.management_form }}
        <div class="panel-heading">
            <div class="btn-group"><h2>{{ formsets.1.title }}</h2></div>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-12">
                    {% include 'includes/ordered_checkbox_with_textarea.html' with col_size=1 non_resize=1 form=formsets.1.form.forms.0 %}
                </div>
            </div>
        </div>
    </section>
    {# Antecedentes Uso Lentes #}
    <section class="panel panel-bd lobidisable" id="{{ formsets.2.section_name }}">
        {{ formsets.2.form.management_form }}
        <div class="panel-heading">
            <div class="btn-group"><h2>{{ formsets.2.title }}</h2></div>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-12">
                    {% include 'includes/ordered_checkbox_with_textarea.html' with col_size=1 non_resize=1 form=formsets.2.form.forms.0 %}
                </div>
            </div>
        </div>
    </section>
    {# Antecedentes Examenes Extras #}
    <section class="panel panel-bd lobidisable" id="{{ formsets.3.section_name }}">
        {{ formsets.3.form.management_form }}
        <div class="panel-heading">
            <div class="btn-group"><h2>{{ formsets.3.title }}</h2></div>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-12">
                    {% include 'includes/ordered_checkbox_with_textarea.html' with col_size=1 non_resize=1 form=formsets.3.form.forms.0 %}
                </div>
            </div>
        </div>
    </section>
    {# Agudeza #}
    <section class="panel panel-bd lobidisable" id="{{ formsets.4.section_name }}">
        {{ formsets.4.form.management_form }}
        <div class="panel-heading">
            <div class="btn-group"><h2>{{ formsets.4.title }}</h2></div>
        </div>
        <div class="panel-body">
            {% include 'includes/formset_structure.html' with formset=formsets.4 %}
        </div>
    </section>
    {# Cronomatica #}
    <section class="panel panel-bd lobidisable" id="{{ formsets.5.section_name }}">
        {{ formsets.5.form.management_form }}
        <div class="panel-heading">
            <div class="btn-group"><h2>{{ formsets.5.title }}</h2></div>
        </div>
        <div class="panel-body">
            {% include 'includes/formset_structure.html' with formset=formsets.5 %}
        </div>
    </section>

    <div class="row">
        {% include 'includes/simple_register_form.html' with form=form %}
    </div>
{% endblock %}