<div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar">
    <form role="search">
        <div class="form-group">
            Logo
        </div>
    </form>
    <ul class="nav menu">

        <li {% if active == 'inicio' %} class="active" {% endif %}>
            <a href="{% url 'docapp:dashboard' %}">
                <svg class="glyph stroked dashboard-dial">
                    <use href="#stroked-dashboard-dial"></use>
                </svg>
                inicio
            </a>
        </li>

        <li {% if active == 'ingreso' %} class="active" {% endif %}>
            <a href="{% url 'docapp:ingreso' %}">
                <svg class="glyph stroked calendar">
                    <use href="#stroked-calendar"></use>
                </svg>
                Ingreso
            </a>
        </li>

        <li class="parent">

            <a data-toggle="collapse" href="#sub-item-1">
                <span >
                    <svg class="glyph stroked chevron-down">
                        <use href="#stroked-chevron-down"></use>
                    </svg>
                </span>
                Examenes
            </a>

            <ul {% if exam_collapse %} class="children collapse" {% else %} class="children collapse in" {% endif %} id="sub-item-1">

                <li {% if active == 'medicina_general' %} class="active" {% endif %}>
                    <a class="" href="{% url 'docapp:medicina_general' %}">
                        <svg class="glyph stroked chevron-right">
                            <use href="#stroked-chevron-right"></use>
                        </svg>
                        Medicina General
                    </a>
                </li>

                <li {% if active == 'laboratorio' %} class="active" {% endif %}>

                    <a class="" href="{% url 'docapp:laboratorio' %}">
                        <svg class="glyph stroked chevron-right">
                            <use href="#stroked-chevron-right"></use>
                        </svg>
                        Laboratorio </a>
                </li>


                <li {% if active == 'audiometria' %} class="active" {% endif %}>

                    <a class="" href="{% url 'docapp:audiometria' %}">
                        <svg class="glyph stroked chevron-right">
                            <use href="#stroked-chevron-right"></use>
                        </svg>
                        Audiometria </a>
                </li>

                <li {% if active == 'visiometria' %} class="active" {% endif %}>
                    <a class="" href="{% url 'docapp:visiometria' %}">
                        <svg class="glyph stroked chevron-right">
                            <use href="#stroked-chevron-right"></use>
                        </svg>
                        Visiometria
                    </a>
                </li>

            </ul>

        </li>

        <li {% if active == 'doctors' %} class="active" {% endif %}>
            <a href="{% url 'docapp:medicos' %}">
                <svg class="glyph stroked table">
                    <use href="#stroked-table"></use>
                </svg>
                Medicos
            </a>
        </li>

        <!--li><a href="#">
            <svg class="glyph stroked pencil">
                <use href="#stroked-male-user"></use>
            </svg>
            Usuarios</a></li-->

        <li role="presentation" class="divider"></li>

    </ul>

</div><!--/.sidebar-->