<!-- =============================================== -->
<!-- Left side column. contains the sidebar -->
{% load static %}
<aside class="main-sidebar">
    <!-- sidebar -->
    <div class="sidebar">
        <!-- Sidebar user panel -->
        <div class="user-panel">
            <div class="image pull-left">
                <img src="{{ user.avatar.url }}" class="img-circle" alt="User Image">
            </div>
            <div class="info">
                <h4>Bienvenido</h4>
                <p>{{ request.user.get_full_name }}</p>
            </div>
        </div>

        <!-- sidebar menu -->
        <ul class="sidebar-menu">
            <li class="active">
                <a href="{% url 'docapp:dashboard' %}"><i class="fa fa-hospital-o"></i><span>Dashboard</span>
                </a>
                <a href="#" data-toggle="modal" data-target="#myModal3"><i class="fa fa-search"></i><span>Consultar</span>
                </a>
            </li>
            {% if request.user.is_superuser %}
                <!-- Personal options -->
                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-user-circle-o"></i><span>Recursos Humanos</span>
                        <span class="pull-right-container">
                                            <i class="fa fa-angle-left pull-right"></i>
                                        </span>
                    </a>
                    <ul class="treeview-menu">
                        <li><a href="{% url 'accounts:register_personal' %}">Añadir Empleado</a></li>
                        <li><a href="{% url 'accounts:user_list' %}">Lista Empleados</a></li>

                    </ul>
                </li>
            {% endif %}
            {% if request.user.profile_type == 'receptionista' or request.user.is_superuser %}
                <!-- Enterprise options -->
                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-building"></i><span>Empresas</span>
                        <span class="pull-right-container">
                                    <i class="fa fa-angle-left pull-right"></i>
                                </span>
                    </a>
                    <ul class="treeview-menu">
                        <li><a href="{% url 'docapp:register_company' %}">Registrar</a></li>
                        <li><a href="{% url 'docapp:list_company' %}">Listar</a></li>
                    </ul>
                </li>
                <!-- Laboratorios -->
                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-flask"></i><span>Laboratorios</span>
                        <span class="pull-right-container">
                                    <i class="fa fa-angle-left pull-right"></i>
                                </span>
                    </a>
                    <ul class="treeview-menu">
                        <li><a href="{% url 'docapp:list_lab' %}">Lista</a></li>
                        <li><a href="{% url 'docapp:register_lab' %}">Registrar</a></li>
                    </ul>
                </li>
                <!-- Employees options -->
                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-user"></i><span>Independientes</span>
                        <span class="pull-right-container">
                                    <i class="fa fa-angle-left pull-right"></i>
                                </span>
                    </a>
                    <ul class="treeview-menu">
                        <li><a href="{% url 'docapp:register_employ_without_company' %}">Registrar</a></li>
                        <li><a href="{% url 'docapp:list_independent_employ' %}">Lista</a></li>
                    </ul>
                </li>
            {% endif %}

            {% if request.user.profile_type == 'p_laboratorio' or request.user.profile_type == 'doctor' or request.user.profile_type == 'receptionista' or request.user.is_superuser%}
                <!-- Examinations-->
                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-flask"></i><span>Examinaciones</span>
                        <span class="pull-right-container">
                                    <i class="fa fa-angle-left pull-right"></i>
                                </span>
                    </a>
                    <ul class="treeview-menu">
                        <li><a href="{% url 'docapp:list_examination' %}">Lista</a></li>
                        {% if request.user.profile_type == 'p_laboratorio' or request.user.profile_type == 'doctor' %}
                            <li><a href="{% url 'docapp:own_examinations' %}">Pendientes</a></li>
                        {% endif %}
                    </ul>
                </li>
            {% endif %}
            {% if request.user.profile_type == 'p_laboratorio' %}
                <!-- Laboratorio -->
                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-flask"></i><span>Laboratorio</span>
                        <span class="pull-right-container">
                                    <i class="fa fa-angle-left pull-right"></i>
                                </span>
                    </a>
                    <ul class="treeview-menu">
                        <li><a href="#">Ver resultados</a></li>
                        <li><a href="{% url 'docapp:list_examination' %}">Guardar resultados</a></li>
                    </ul>
                </li>
            {% endif %}
            {% if request.user.profile_type == 'doctor' %}
                <!-- Registrar examenes -->
                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-user-md"></i><span>Registro Examenes</span>
                        <span class="pull-right-container">
                                    <i class="fa fa-angle-left pull-right"></i>
                                </span>
                    </a>
                    <ul class="treeview-menu">
                        <li><a href="{% url 'docapp:list_examination' %}">Listar</a></li>
                    </ul>
                </li>
            {% endif %}
        </ul>
    </div> <!-- /.sidebar -->
</aside>
{% include 'docapp/modals/search.html' %}

