<!-- =============================================== -->
<!-- Left side column. contains the sidebar -->
{% load static %}
<aside class="main-sidebar">
    <!-- sidebar -->
    <div class="sidebar">
        <!-- Sidebar user panel -->
        <div class="user-panel">
            <div class="image pull-left">
                <img src="{{ user.avatar.url }}" class="img-circle" alt="User Image">
            </div>
            <div class="info">
                <h4>Bienvenido</h4>
                <p>{{ request.user.get_full_name }}</p>
            </div>
        </div>

        <!-- sidebar menu -->
        <ul class="sidebar-menu">
            <li class="active">
                <a href="{% url 'docapp:dashboard' %}"><i class="fa fa-hospital-o"></i><span>Dashboard</span></a>
            </li>
            {% if request.user.profile_type == 'p_laboratorio' %}
                {% if request.user.laboratory_profile.is_admin %}
                    <!-- Personal options -->
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-user-circle-o"></i><span>Recursos Humanos</span>
                            <span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="#">Añadir Empleado</a></li>
                            <li><a href="#">Lista Empleados</a></li>
                        </ul>
                    </li>
                {% endif %}
            {% endif %}

            {% if request.user.is_superuser %}
                <!-- Personal options -->
                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-user-circle-o"></i><span>Recursos Humanos</span>
                        <span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span>
                    </a>
                    <ul class="treeview-menu">
                        <li><a href="{% url 'accounts:register_personal' %}">Añadir Empleado</a></li>
                        <li><a href="{% url 'accounts:user_list' %}">Lista Empleados</a></li>
                    </ul>
                </li>
            {% endif %}

            {% if request.user.profile_type == 'receptionista' %}
                <!-- Enterprise options -->
                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-building"></i><span>Empresas</span>
                        <span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span>
                    </a>
                    <ul class="treeview-menu">
                        <li><a href="{% url 'docapp:list_company' %}">Lista</a></li>
                        <li><a href="{% url 'docapp:register_company' %}">Registrar</a></li>
                    </ul>
                </li>

                <!-- Lab options -->
                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-flask"></i><span>Laboratorios</span>
                        <span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span>
                    </a>
                    <ul class="treeview-menu">
                        <li><a href="{% url 'docapp:list_lab' %}">Lista</a></li>
                        <li><a href="{% url 'docapp:register_lab' %}">Registrar</a></li>
                    </ul>
                </li>

                <!-- Independent Employees options -->
                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-user"></i><span>Independientes</span>
                        <span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span>
                    </a>
                    <ul class="treeview-menu">
                        <li><a href="{% url 'docapp:list_independent_employ' %}">Lista</a></li>
                        <li><a href="{% url 'docapp:register_employ_without_company' %}">Registrar</a></li>
                    </ul>
                </li>

                <!-- Particular Employees options -->
                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-user"></i><span>Particular</span>
                        <span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span>
                    </a>
                    <ul class="treeview-menu">
                        <li><a href="{% url 'docapp:list_simple_patient' %}">Lista</a></li>
                        <li><a href="{% url 'docapp:register_simple_patient' %}">Registrar</a></li>
                    </ul>
                </li>
            {% endif %}


            {% if request.user.profile_type %}
                <!-- Examinations-->
                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-flask"></i><span>Consultas</span>
                        <span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span>
                    </a>
                    <ul class="treeview-menu">
                        <li>
                            {% if request.user.profile_type == 'doctor' %}
                                <a href="{% url 'docapp:enable_consults' %}">Disponibles</a>
                            {% elif request.user.profile_type == 'receptionista' %}
                                <a href="{% url 'docapp:list_consults' %}">Lista</a>
                            {% endif %}
                        </li>

                        {% if request.user.profile_type == 'doctor' %}
                            <li><a href="{% url 'docapp:list_own_consults' %}">Pendientes</a></li>
                            <li><a href="{%  url 'docapp:list_end_consults' %}">Finalizadas</a></li>
                        {% endif %}
                    </ul>
                </li>

                 <li class="treeview">
                    <a href="#">
                        <i class="fa fa-flask"></i><span>Examinaciones</span>
                        <span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span>
                    </a>
                    <ul class="treeview-menu">
                        <li>
                            {% if request.user.profile_type == 'p_laboratorio' %}
                                <a href="{% url 'labapp:list_examination_todo' %}">Disponibles</a>
                            {% elif request.user.profile_type == 'doctor' %}
                                <a href="{% url 'docapp:list_examination' %}">Disponibles</a>
                            {% elif request.user.profile_type == 'receptionista' %}
                                <a href="{% url 'docapp:list_examination' %}">Lista</a>
                            {% endif %}
                        </li>
                        {% if request.user.profile_type == 'p_laboratorio' %}
                            <li><a href="{% url 'labapp:lab_own_examinations' %}">Pendientes</a></li>
                            <li><a href="{% url 'labapp:lab_end_examinations' %}">Finalizadas</a></li>
                        {% elif request.user.profile_type == 'doctor' %}
                            <li><a href="{% url 'docapp:doctor_own_examinations' %}">Pendientes</a></li>
                            <li><a href="{% url 'docapp:doctor_end_examinations' %}">Finalizadas</a></li>
                        {% endif %}
                    </ul>
                </li>
            {% endif %}


        </ul>
    </div>
</aside>

