<!-- =============================================== -->
<!-- Left side column. contains the sidebar -->
{% load static %}
<aside class="main-sidebar">
    <!-- sidebar -->
    <div class="sidebar">
        <!-- Sidebar user panel -->
        <div class="user-panel">
            <div class="image pull-left">
                <img src="{% static 'assets/dist/img/avatar5.png' %}" class="img-circle" alt="User Image">
            </div>
            <div class="info">
                <h4>Bienvenido</h4>
                <p>{{ request.user.get_full_name }}</p>
            </div>
        </div>

        <!-- sidebar menu -->
        <ul class="sidebar-menu">
            <li class="active">
                <a href="{% url 'docapp:dashboard' %}"><i class="fa fa-hospital-o"></i><span>Dashboard</span>
                </a>
            </li>
            {% if request.user.is_superuser %}
                <!-- Personal options -->
                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-user-circle-o"></i><span>Recursos Humanos</span>
                        <span class="pull-right-container">
                                            <i class="fa fa-angle-left pull-right"></i>
                                        </span>
                    </a>
                    <ul class="treeview-menu">
                        <li><a href="{% url 'accounts:register_personal' %}">Añadir Empleado</a></li>
                        <li><a href="{% url 'accounts:user_list' %}">Lista Empleados</a></li>

                    </ul>
                </li>
            {% endif %}
            {% if request.user.profile_type == 'receptionist' or request.user.is_superuser %}
                <!-- Enterprise options -->
                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-building"></i><span>Empresas</span>
                        <span class="pull-right-container">
                                    <i class="fa fa-angle-left pull-right"></i>
                                </span>
                    </a>
                    <ul class="treeview-menu">
                        <li><a href="{% url 'docapp:register_company' %}">Registrar</a></li>
                        <li><a href="{% url 'docapp:company_list' %}">Listar</a></li>
                    </ul>
                </li>
                <!-- Employees options -->
                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-user"></i><span>Empleados</span>
                        <span class="pull-right-container">
                                    <i class="fa fa-angle-left pull-right"></i>
                                </span>
                    </a>
                    <ul class="treeview-menu">
                        <li><a href="{% url 'docapp:person_list' %}">Lista</a></li>
                    </ul>
                </li>
                <!-- Examenes -->
                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-check-square-o"></i><span>Examenes</span>
                        <span class="pull-right-container">
                                    <i class="fa fa-angle-left pull-right"></i>
                                </span>
                    </a>
                    <ul class="treeview-menu">
                        <li><a href="{% url 'docapp:exam_list' %}">Lista</a></li>
                    </ul>
                </li>
            {% endif %}
            {% if request.user.profile_type == 'laboratory' %}
                <!-- Laboratorio -->
                <li class="treeview">
                    <a href="#">
                        <i class="fa flask"></i><span>Laboratorio</span>
                        <span class="pull-right-container">
                                    <i class="fa fa-angle-left pull-right"></i>
                                </span>
                    </a>
                    <ul class="treeview-menu">
                        <li><a href="#">Ver resultados</a></li>
                        <li><a href="{% url 'docapp:exam_list' %}">Guardar resultados</a></li>
                    </ul>
                </li>
            {% endif %}
            {% if request.user.profile_type == 'doctor' %}
                <!-- Registrar examenes -->
                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-user-md"></i><span>Registro Examenes</span>
                        <span class="pull-right-container">
                                    <i class="fa fa-angle-left pull-right"></i>
                                </span>
                    </a>
                    <ul class="treeview-menu">
                        <li><a href="{% url 'docapp:exam_list' %}">Listar</a></li>
                    </ul>
                </li>

                <!-- Reportes -->
                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-user-md"></i><span>Reporte</span>
                        <span class="pull-right-container">
                                    <i class="fa fa-angle-left pull-right"></i>
                                </span>
                    </a>
                    <ul class="treeview-menu">
                        <li><a href="#">Generar Reporte</a></li>
                        <li><a href="#">Ver Reportes</a></li>
                    </ul>
                </li>
            {% endif %}
        </ul>
    </div> <!-- /.sidebar -->
</aside>

