<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Delete Profile</title>
</head>
<body>
<form method="POST">
    {% csrf_token %}
    <h1>¿Realmente desea borrar el perfil de {{ instance.user.get_full_name }}?</h1>
    <hr>
    <button type="submit">Si</button>
    {% if request.META.HTTP_REFERER %}
        <a href="{{ request.META.HTTP_REFERER }}">Cancelar</a>
    {% else %}
        <a href="{% url 'accounts:user_list' user_id=instance.user.id %}">Cancelar</a>
    {% endif %}
</form>
</body>
</html>