{% extends 'base/base_list.html' %}

{% block title %} Lista Usuarios {% endblock %}

{% block page_title %}Lista de Usuarios {% endblock %}
{% block small_message %} Lista de usuarios registrados en el sistema {% endblock %}
{% block add_link %} {% url 'accounts:register_personal' %}{% endblock %}
{% block add_link_label %} Empleado {% endblock %}

{% block datatable_body %}
    <thead>
    <tr>
        <th>Nombre de usuario</th>
        <th>Nombre</th>
        <th>Correo Electronico</th>
        <th>Rol</th>
        <th>Estado</th>
        <th>Opciones</th>
    </tr>
    </thead>
    <tbody>
    {% for user in user_list %}
        <tr>
            <td>{{ user.username }}</td>
            <td>{{ user.last_name }} {{ user.first_name }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.profile_type }}</td>
            <td>
                {% if user.is_active %}
                    <span class="label-success label label-default">Activo</span>
                {% else %}
                    <span class="label-danger label label-default">Desactivado</span>
                {% endif %}
            </td>
            <td>
                <!-- Detail Link -->
                <button class="btn btn-primary btn-xs btn_modal" data-toggle="tooltip"
                        data-modal-title="Detalle Usuario"  href="{% url 'accounts:detail_personal' user_id=user.id %}">
                    Ver <i class="fa fa-eye" aria-hidden="true"></i>
                </button>
                <!-- Update Link -->
                <a href="{% url 'accounts:update_personal' user_id=user.id %}">
                    <button class="btn btn-warning btn-xs" data-toggle="tooltip">
                        <i class="fa fa-edit" aria-hidden="true"></i> Editar
                    </button>
                </a>
                {% if user.is_active %}
                <!-- Delete Link -->
                <button class="btn btn-danger btn-xs btn_modal" data-toggle="tooltip"
                        data-modal-title="Eliminar Usuario" data-original-title="Desactivar"
                        href="{% url 'accounts:delete_personal' user_id=user.id %}">
                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                </button>
                {% endif %}
            </td>

        </tr>
    {% endfor %}
    </tbody>

{% endblock %}
{% block extra_content %}
    {% include 'base/base_modal.html' %}
{% endblock %}
{% block extra_scripts %}
    <script>
        $('.btn_modal').on('click', function (event) {
            event.preventDefault();
            load_modal(this.dataset.modalTitle, "success", this.getAttribute('href'));
        });
    </script>
{% endblock %}
