<div class="panel-body">
    <!-- Title -->
    <div class="row">
        <div class="col-sm-12 text-center">
            {% if request.user.reception_profile %}
                <span class="pull-right">
                                <a href="{% url 'accounts:update_personal' user_id=instance.id %}">
                                                <button class="btn btn-warning btn-xs" data-toggle="tooltip"
                                                        data-placement="left" title="" data-original-title="Editar">
                                                    <i class="fa fa-edit" aria-hidden="true"></i>
                                                </button>
                                            </a>
                            </span>
            {% endif %}
            <h1>{{ instance.get_full_name|upper }}</h1>
            {% if instance.is_active %}
                <span class="label-success label label-default">Activo</span>
            {% else %}
                <span class="label-danger label label-default">Desactivado</span>
            {% endif %}
        </div>
        <div class="col-sm-12">
            <p><b>Rol:</b> {{ instance.profile_type }}</p>
            <p><b>Email:</b> {% if instance.email %} {{ instance.email }} {% else %} No presenta {% endif %}</p>
        </div>
        <div class="col-sm-12">
            <p class="pull-right">Ultima Vez Activo: {{ instance.last_login }}</p>
        </div>
    </div>
</div>
