{% extends 'base/base_dashboard.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %} {{ user.username }} {% endblock %}

{% block content_header %}
    <div class="header-icon">
        <i class="pe-7s-id"></i>
    </div>
    <div class="header-title">
        <h1>{{ user.username }}</h1>
        <small>Informacion General</small>
        <ol class="breadcrumb hidden-xs">
            <li><a href="{% url 'docapp:dashboard' %}"><i class="pe-7s-home"></i> Home</a></li>
            <li class="active">Dashboard</li>
        </ol>
    </div>
{% endblock %}

{% block content_main %}
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-bd">

                <div class="twt-feed bg-primary">

                    <div class="fa fa-twitter wtt-mark"></div>
                    <a href="#">
                        <img alt="" src="{% static 'assets/dist/img/avatar3.png' %}">
                    </a>
                    <section id="user_info">
                        <h1>
                            <b>{{ user.get_full_name }}</b>
                            {% if user.is_active %}
                                <span class="label-success label label-default">Activo</span>
                            {% else %}
                                <span class="label-danger label label-default">Desactivado</span>
                            {% endif %}
                        </h1>
                        <p>{{ user.profile_type }} - {{ user.email }}</p>
                    </section>
                    <section class="pull-right">
                        <!-- Update Link -->
                        <a href="{% url 'accounts:update_personal' user_id=user.id %}">
                            <button class="btn btn-warning btn-xs" data-toggle="tooltip"
                                    data-placement="left" title="" data-original-title="Editar">
                                <i class="fa fa-pencil" aria-hidden="true"></i>

                            </button>
                        </a>
                        <!-- Delete Link -->
                        <a href="{% url 'accounts:delete_personal' user_id=user.id %}">
                            <button class="btn btn-danger btn-xs" data-toggle="tooltip"
                                    data-placement="right" title="" data-original-title="Borrar">
                                <i class="fa fa-trash-o" aria-hidden="true"></i>

                            </button>
                        </a>
                    </section>
                </div>

                <footer class="twt-footer">
                    Ultima Vez Activo<span class="pull-right">{{ user.last_login }}</span>
                </footer>

            </div>
        </div>
    </div>
{% endblock %}
