{% for field in form %}

{% if not forloop.counter|divisibleby:"2" %}
    <div class="row">{% endif %}

{% if field.field.widget.input_type == 'select' %}
    <div class="{% if large %} col-sm-12 {% else %} col-sm-6 {% endif %} form-group">
        {% include 'includes/fields/select.html' with field=field %}
    </div>
{% elif field.field.widget.format_key == 'DATE_INPUT_FORMATS' %}
    <div class="{% if large %} col-sm-12 {% else %} col-sm-6 {% endif %} form-group">
        {% include 'includes/fields/datetime.html' with field=field %}
    </div>
{% elif field.field.widget.input_type == 'number' or field.field.widget.input_type == 'text' or field.field.widget.input_type == 'password' or field.field.widget.input_type == 'email' %}
    <div class="{% if large %} col-sm-12 {% else %} col-sm-6 {% endif %} form-group">
        {% include 'includes/fields/input_text_number.html' with field=field %}
    </div>
{% elif field.field.widget.input_type == 'checkbox' %}
    <div class="{% if large %} col-sm-12 {% else %} col-sm-6 {% endif %} form-group">
        {% include 'includes/fields/input_checkbox.html' with field=field %}
    </div>
{% elif field.field.widget.input_type == 'file' %}
    <div class="{% if large %} col-sm-12 {% else %} col-sm-6 {% endif %} form-group">
        {% include 'includes/fields/input_file.html' with field=field %}
    </div>
{% elif not field.field.widget.input_type %}
    <div class="col-sm-4 form-group">
        {% include 'includes/fields/textarea.html' with field=field area_row=3 non_resize=non_resize %}
    </div>
{% endif %}

{% if forloop.counter|divisibleby:"2" or forloop.last %}</div>{% endif %}
{% endfor %}
{% for field in form %}
    {% if field.field.widget.input_type == 'hidden' %} {{ field }} {% endif %}
{% endfor %}