{% for field in form %}
    {% if field.field.widget.input_type == 'select' %}
        <div class="form-group">
            <label class="label {% if field.errors %} label-danger {% else %}  label-custom  {% endif %}"
                   for="{{ field.id_for_label }}">
                {{ field.label }}
            </label>
            <select class="form-control {% if field.errors %}  label-danger-outline {% endif %}"
                    name="{{ field.html_name }}"
                    id="{{ field.auto_id }}"
                    size="1">
                {% for option in field.field.choices %}
                    <option value="{{ option.0 }}"
                            {% if field.value == option.0 %} selected {% endif %}>
                        {{ option.1 }}
                    </option>
                {% endfor %}
            </select>
            {% if field.errors %}
                <div class="alert alert-sm alert-danger alert-dismissible m-t-20" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                    {% for error in field.errors %}
                        <i class="fa fa-exclamation-circle"></i>
                        <strong>Error!</strong>
                        {{ error|escape }}
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    {% elif field.field.widget.format_key == 'DATE_INPUT_FORMATS' %}
        <div class="form-group">
            <label class="label {% if field.errors %} label-danger {% else %}  label-custom  {% endif %}"
                   for="{{ field.id_for_label }}">
                {{ field.label }}
            </label>
            <input type="date"
                   class="form-control {% if field.errors %} label-danger-outline {% endif %}"
                   name="{{ field.html_name }}"
                   id="{{ field.auto_id }}"
                    {% if field.value %}  value="{{ field.value|date:"Y-m-d" }}" {% endif %}
                    {% if field.field.widget.is_required %} required="" {% endif %}/>
            {% if field.errors %}
                <div class="alert alert-sm alert-danger alert-dismissible m-t-20" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                    {% for error in field.errors %}
                        <i class="fa fa-exclamation-circle"></i>
                        <strong>Error!</strong>
                        {{ error|escape }}
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    {% elif field.field.widget.input_type == 'checkbox' %}
        <div class="form-group">
            <input type="checkbox" class="form-check-input" name="{{ field.html_name }}"
                   id="{{ field.auto_id }}" {% if form.initial %} checked {% endif %}/>
            <label class="label {% if field.errors %} label-danger {% else %}  label-custom  {% endif %}"
                   for="{{ field.id_for_label }}">
                {{ field.label }}
            </label>
            {% if field.errors %}
                <div class="alert alert-sm alert-danger alert-dismissible m-t-20" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                    {% for error in field.errors %}
                        <i class="fa fa-exclamation-circle"></i>
                        <strong>Error!</strong>
                        {{ error|escape }}
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    {% elif field.field.widget.input_type == 'text' or field.field.widget.input_type == 'number' %}
        <div class="form-group">
            <label class="label {% if field.errors %} label-danger {% else %}  label-custom  {% endif %}"
                   for="{{ field.id_for_label }}">
                {{ field.label }}
            </label>
            <input type="{{ field.field.widget.input_type }}"
                   class="form-control {% if field.errors %} label-danger-outline {% endif %}"
                   name="{{ field.html_name }}"
                   id="{{ field.auto_id }}"
                   placeholder="Ingrese {{ field.label }}"
                    {% if field.value %}  value="{{ field.value }}" {% endif %}
                    {% if field.field.widget.is_required %} required="" {% endif %}/>
            {% if field.errors %}
                <div class="alert alert-sm alert-danger alert-dismissible m-t-20" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                    {% for error in field.errors %}
                        <i class="fa fa-exclamation-circle"></i>
                        <strong>Error!</strong>
                        {{ error|escape }}
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    {% elif not field.field.widget.input_type %}
        <div class="form-group">
            <label class="label {% if field.errors %} label-danger {% else %}  label-custom  {% endif %}"
                   for="{{ field.id_for_label }}">
                {{ field.label }}
            </label>
            <textarea class="form-control" name="{{ field.html_name }}" rows="5"
                      id="{{ field.auto_id }}">{% if field.value %}
                {{ field.value }} {% endif %}</textarea>
            {% if field.errors %}
                <div class="alert alert-sm alert-danger alert-dismissible m-t-20" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                    {% for error in field.errors %}
                        <i class="fa fa-exclamation-circle"></i>
                        <strong>Error!</strong>
                        {{ error|escape }}
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    {% endif %}
{% endfor %}
{% for field in form %}
    {% if field.field.widget.input_type == 'hidden' %} {{ field }} {% endif %}
{% endfor %}