<!DOCTYPE html>
<html>
<head>
    <title> Dashboard </title>
</head>
<body>
<h1>Hi {% if request.user.get_full_name == '' %} {{ request.user.username }} {% else %}
    {{ request.user.get_full_name }} {% endif %}</h1>
<hr>
<a href="{% url 'accounts:show_profile' user_id=request.user.id %}">Ver Perfil</a>
<hr>
<h2>Acciones disponibles</h2>
<ul>
    {% if request.user.is_superuser %}
        <!-- Admin actions -->
        <li><a href="{% url 'accounts:user_list' %}">Gestionar Usuarios</a></li>

        <!-- Receptionist Tasks -->
        <li><a href="{% url 'docapp:company_list' %}">Gestionar Empresas</a></li>
        <li><a href="{% url 'docapp:person_list' %}">Gestionar Pacientes (Personal)</a></li>
        <li><a href="#">Iniciar Proceso a Pacientes (Personal)</a></li>

        <!-- Doctor task -->
        <li><a href="#">Observar Procesos a Pacientes</a></li>

        <!-- Laboratory task -->
        <li><a href="#">Observar Resultados de laboratorios</a></li>

    {% elif request.user.profile_type == 'receptionist' %}
        <li><a href="{% url 'docapp:company_list' %}">Gestionar Empresas</a></li>
        <li><a href="{% url 'docapp:person_list' %}">Gestionar Pacientes (Personal)</a></li>
        <li><a href="#">Iniciar Proceso a Pacientes (Personal)</a></li>

    {% elif request.user.profile_type == 'doctor' %}

        <li><a href="#">Gestionar procesos a personal</a></li>

    {% elif request.user.profile_type == 'laboratory' %}

        <li><a href="#">Guardar Resultado de laboratorios</a></li>

    {% endif %}

</ul>
<hr>
<a href="{% url 'accounts:logout' %}" role="button">Cerrar Sesión</a>
</body>

</html>