{% extends 'base/base_list.html' %}
{% load static %}
{% block title %} Lista Lab Admin {% endblock %}

{% block page_title %}Administradores de {{ lab }} {% endblock %}
{% block small_message %} Lista de usuarios administradores del laboratorio {{ lab }} {% endblock %}
{% block add_link %} {% url 'docapp:register_lab_admin' lab_id=lab.id %} {% endblock %}
{% block add_link_label %} Administrador {% endblock %}


{% block datatable_body %}
    <thead>
    <tr>
        <th>Nombre</th>
        <th>Opciones</th>
        <th>Estado</th>
    </tr>
    </thead>
    <tbody>
    {% for object in admin_lab_list %}
        <tr>
            <td>{{ object }}</td>
            <td>
                <!-- Detail Link -->
                <button class="btn btn-primary btn-xs btn_modal" data-modal-title="Detalle Lab Admin"
                        href="{% url 'docapp:detail_lab_admin' pk=object.user_id.id %}">
                    Ver <i class="fa fa-eye" aria-hidden="true"></i>
                </button>
                <!-- Update Link -->
                <a href="{% url 'docapp:update_lab_admin' pk=object.user_id.id %}">
                    <button class="btn btn-warning btn-xs" data-toggle="tooltip"
                            data-placement="left" title="" data-original-title="Editar">
                        <i class="fa fa-edit" aria-hidden="true"></i> Editar
                    </button>
                </a>
                {% if object.user_id.is_active %}
                    <!-- Deactivate Link -->
                    <button class="btn btn-danger btn-xs btn_modal" data-toggle="tooltip"
                            data-modal-title="Desactivar Admin"
                            data-placement="right" title="" data-original-title="Desactivar"
                            href="{% url 'docapp:deactivate_lab_admin' pk=object.user_id.id %}">
                        <i class="fa fa-trash-o" aria-hidden="true"></i>
                    </button>
                {% endif %}
            </td>
            <td>{% if object.user_id.is_active %}
                <span class="label label-success">Activo</span>
            {% else %}
                <span class="label label-danger">Desactivado</span>
            {% endif %}</td>

        </tr>
    {% empty %}
        <h1>No se encuentra ningun laboratorio registrado</h1>
    {% endfor %}
    </tbody>
{% endblock %}
{% block extra_content %}
    {% include 'base/base_modal.html' %}
{% endblock %}
{% block extra_scripts %}
    <script>
        $('.btn_modal').on('click', function (event) {
            event.preventDefault();
            event.stopPropagation();
            load_modal(this.dataset.modalTitle, "success", this.getAttribute('href'));
        });
    </script>
{% endblock %}