<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>List</title>
</head>
<body>
<a href="{% url 'docapp:register_lab' %}">Registrar Laboratorio</a>
<hr>
{% if object_list %}
    <ul>
        {% for object in object_list %}
            <li>{{ object }}
                <a href="{% url 'docapp:update_lab' lab_id=object.id %}">Actualizar</a>
                <a href="{% url 'docapp:register_lab_admin' lab_id=object.id %}">Registrar Administrador</a>
            </li>
        {% endfor %}
    </ul>
{% else %}
    <h1>No se encuentra ningun lab registrado</h1>
{% endif %}
</body>
</html>