<div class="panel-body">
    <!-- Title -->
    <div class="row">
        <div class="col-sm-12 text-center">
            {% if request.user.doctor_profile %}
                <span class="pull-right">
                                <a href="{% url 'docapp:update_employ_antecedent' antecedent_id=antecedent.id %}">
                                                <button class="btn btn-warning btn-xs" data-toggle="tooltip"
                                                        data-placement="left" title="" data-original-title="Editar">
                                                    <i class="fa fa-edit" aria-hidden="true"></i>
                                                </button>
                                            </a>
                            </span>
            {% endif %}
            <h1>Antecedentes de {{ antecedent.persona }}</h1>
            <small style="color: gainsboro">Registrado por: {{ antecedent.registrado_por.user_id.username }}</small>
        </div>
    </div>
    <hr>
    <!-- Information -->
    <div class="row">
        <div class="col-sm-12 text-left">
            <p><b>Empresa donde laboro:</b> {{ antecedent.nombre_empresa }}</p>
            <p><b>Cargo que tuvo:</b> {{ antecedent.ocupacion }}</p>
            <p><b>Tiempo de duracion:</b> {{ antecedent.tiempo }}</p>
            <p><b>Uso EPP:</b> {{ antecedent.uso_epp }}</p>
            <p><b>Numero de riesgos:</b> {{ antecedent.riesgos.get_number_hazard }}</p>
            <p><b>Riesgos:</b> {{ antecedent.riesgos.get_label_hazards }} </p>
            <p><b>Registrado por:</b> {{ antecedent.registrado_por.user_id.username }}</p>
            <p><b>Ultima vez modificado:</b> {{ antecedent.ultima_vez_modificado }}</p>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-sm-12">
            {% for accident in antecedent.accidentes.all %}
                <h4>Accidente #{{ forloop.counter }}</h4>
                <hr>
                <p><b>Tipo:</b> {{ accident.tipo }}</p>
                <p><b>Secuelas:</b> {{ accident.secuelas }}</p>
                <p><b>Atendido:</b> {{ accident.atendido }}</p>
                <p><b>Calificado:</b> {{ accident.calificado }}</p>
                <p><b>Fecha:</b> {{ accident.fecha }}</p>
                <p><b>Descripcion:</b> {{ accident.descripcion }}</p>
                <hr>
            {% empty %}
                <h2>No se registran accidentes</h2>
            {% endfor %}
        </div>
    </div>
</div>
