{#if field.field.widget.input_type == 'number' or field.field.widget.input_type == 'text' or field.field.widget.input_type == 'password' or field.field.widget.input_type == 'email'#}
{#Args:#}
{#- field#}

<label class="label {% if field.errors %}label-danger{% else %}label-custom{% endif %}"
       for="{{ field.id_for_label }}">{{ field.label }}</label>
<input type="{{ field.field.widget.input_type }}" class="form-control"
       name="{{ field.html_name }}" id="{{ field.auto_id }}" placeholder="Ingrese {{ field.label }}"
        {% if field.value %}  value="{{ field.value }}" {% endif %}
        {% if field.field.widget.is_required %} required="" {% endif %}/>

{% if field.errors %}
    <div class="alert alert-sm alert-danger alert-dismissible m-t-20"
         role="alert">
        <button type="button" class="close" data-dismiss="alert"
                aria-label="Close"><span
                aria-hidden="true">×</span></button>
        {% for error in field.errors %}
            <i class="fa fa-exclamation-circle"></i>
            <strong>Error!</strong>
            {{ error|escape }}
        {% endfor %}
    </div>
{% endif %}
